<%= form_for(trader) do |f| %>
      <%= render :partial => "shared/error_messages", :locals => {:object => f.object} %>

      <%= f.label :account, "账号" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :account, :class => 'form-control' %>

      <%= f.label :password, "密码" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :password, :class => 'form-control' %>

      <%= f.label :password_confirmation, "密码确认" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :password_confirmation, :class => 'form-control' %>

      <%= f.label :company_name, "公司名" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :company_name, :class => 'form-control' %>

      <%= f.label :person_name, "担当者" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :person_name, :class => 'form-control' %>

      <%= f.label :telephone, "电话号码" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :telephone, :class => 'form-control' %>

      <%= f.label :indivisual_price, "个人单价" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :indivisual_price, :class => 'form-control' %>

      <%= f.label :group_price_indivisual, "团体单价" %> <i class="fa fa-exclamation-triangle"></i> ※按固定价算时，请填0
      <%= f.text_field :group_price_indivisual, :class => 'form-control' %>

      <%= f.label :group_price_11_20, "团体固定价(11~20人)" %> <i class="fa fa-exclamation-triangle"></i> ※按人数单价算时，请填0
      <%= f.text_field :group_price_11_20, :class => 'form-control' %>

      <%= f.label :group_price_21_30, "团体固定价(21~30人)" %> <i class="fa fa-exclamation-triangle"></i> ※按人数单价算时，请填0
      <%= f.text_field :group_price_21_30, :class => 'form-control' %>

      <%= f.label :group_price_31_40, "团体固定价(31~40人)" %> <i class="fa fa-exclamation-triangle"></i> ※按人数单价算时，请填0
      <%= f.text_field :group_price_31_40, :class => 'form-control' %>

      <%= f.label :year_3_price, "3年多次（个人价）" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :year_3_price, :class => 'form-control' %>

      <%= f.label :year_5_price, "5年多次（个人价）" %> <i class="fa fa-exclamation-triangle"></i>
      <%= f.text_field :year_5_price, :class => 'form-control' %>


      <%= f.label :fax, "FAX" %>
      <%= f.text_field :fax, :class => 'form-control' %>

      <%= f.label :email, "E-mail" %>
      <%= f.text_field :email, :class => 'form-control' %>

      <%= f.label :qq, "QQ号码" %>
      <%= f.text_field :qq, :class => 'form-control' %>

      <%= f.label :address, "公司地址" %>
      <%= f.text_field :address, :class => 'form-control' %>

      <%= f.label :bank, "银行账户" %>
      <%= f.text_field :bank, :class => 'form-control' %>

      <%= f.label :master_id, "属于(上家)" %>
      <select name="trader[master_id]" class="form-control" id="master_selector">
        <option value="*" <%= "selected=selected" if !trader.master_relationship %>>---</option>
        <% Trader.all.each do |each_trader| %>
          <option value="<%= each_trader.id %>" <%= "selected=selected" if trader.master_relationship && trader.master_relationship.master_id == each_trader.id %>><%= each_trader.company_name %></option>
        <% end %>
      </select>


      <div data-toggle="buttons" style="margin-top:0; margin-bottom:15px; width:100%;" class="btn-group toggle">
        <label class="btn btn-default col-md-4 col-sm-4 <%= 'active' if trader.validation_mode == "simplest" %>">
          <input type="radio" value="simplest" name="trader[validation_mode]" <%= 'selected=selected' if trader.validation_mode == "simplest" %> />超级简化
        </label>
        <label class="btn btn-default col-md-4 col-sm-4 <%= 'active' if trader.validation_mode == "easy" %>">
          <input type="radio" value="easy" name="trader[validation_mode]" <%= 'selected=selected' if trader.validation_mode == "easy" %> />简化填表
        </label>
        <label class="btn btn-default col-md-4 col-sm-4 <%= 'active' if trader.validation_mode == "strict" %>">
          <input type="radio" value="strict" name="trader[validation_mode]" <%= 'selected=selected' if trader.validation_mode == "strict" %> />复杂填表
        </label>
      </div>

      <div data-toggle="buttons" style="margin-top:0; margin-bottom:15px; width:100%;" class="btn-group toggle">
        <label class="btn btn-default col-md-4 col-sm-4 <%= 'active' if trader.activation %>">
          <input type="radio" value="true" name="trader[activation]" <%= 'selected=selected' if trader.activation %> />有效
        </label>
        <label class="btn btn-default col-md-4 col-sm-4 <%= 'active' if !trader.activation %>">
          <input type="radio" value="false" name="trader[activation]" <%= 'selected=selected' if !trader.activation %> />停止
        </label>
      </div>



      <div style="font-weight: bold">
        日本印章（团签）
      </div>
      <div data-toggle="buttons" style="margin-top:0; margin-bottom:15px; width:100%;" class="btn-group toggle">
        <label class="btn btn-default <%= 'active' if trader.group_japan_company == 'random' %>">
          <input type="radio" value="random" name="trader[group_japan_company]" <%= 'selected=selected' if trader.group_japan_company == 'random' %> />乱数
        </label>
        <% Constants::GROUP_VISA.each do |group_visa| %>
          <% value = Constants::JAPAN_SIDE_COMPANY[group_visa] %>
          <% key = group_visa.to_s %>
          <label class="btn btn-default <%= 'active' if trader.group_japan_company == key %>">
            <input type="radio" value="<%= key %>" name="trader[group_japan_company]" <%= 'selected=selected' if trader.group_japan_company == key %> /><%= key.upcase %>
          </label>
        <% end %>
      </div>

      <div style="font-weight: bold">
        日本印章（个签）
      </div>
      <div data-toggle="buttons" style="margin-top:0; margin-bottom:15px; width:100%;" class="btn-group toggle">
        <label class="btn btn-default <%= 'active' if trader.individual_japan_company == 'random' %>">
          <input type="radio" value="random" name="trader[individual_japan_company]" <%= 'selected=selected' if trader.individual_japan_company == 'random' %> />乱数
        </label>
        <% Constants::INDIVIDUAL_VISA.each do |individual_visa| %>
          <% value = Constants::JAPAN_SIDE_COMPANY[individual_visa] %>
          <% key = individual_visa.to_s %>
          <label class="btn btn-default <%= 'active' if trader.individual_japan_company == key %>">
            <input type="radio" value="<%= key %>" name="trader[individual_japan_company]" <%= 'selected=selected' if trader.individual_japan_company == key %> /><%= key.upcase %>
          </label>
        <% end %>
      </div>

      <div style="font-weight: bold">
        身元保証書
      </div>
      <div data-toggle="buttons" style="margin-top:0; margin-bottom:15px; width:100%;" class="btn-group toggle">
        <label class="btn btn-default <%= 'active' if trader.guarantee_mode == 'normal' %>">
          <input type="radio" value="normal" name="trader[guarantee_mode]" <%= 'selected=selected' if trader.guarantee_mode == 'normal' %> />NORMAL
        </label>
        <label class="btn btn-default <%= 'active' if trader.guarantee_mode == 'full' %>">
          <input type="radio" value="full" name="trader[guarantee_mode]" <%= 'selected=selected' if trader.guarantee_mode == 'full' %> />FULL
        </label>
      </div>

      <%= f.submit button_text, :class => "btn btn-large btn-primary" %>
<% end %>
