<% unless trader.id.nil? %>
  <tr id="<%= trader.id %>" onclick="location.href='/traders/<%= trader.id %>'">
    <td><%= trader.id %></td>
    <td><%= trader.company_name %></td>
    <td><%= trader.person_name %></td>
    <td><%= trader.qq %></td>
    <td><%= trader.account %></td>
    <td><%= trader.password_backup %></td>
    <td><%= trader.projects.count %></td>
    <td><%= trader.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
<% end %>

