<style type="text/css">
  td {
    border: 1px solid #cccccc;
    text-align: center
  }
</style>
<h1><i class="fa fa-dollar"></i> 我的账单</h1>
<div class="row">

  <div class="container col-md-8 col-md-offset-2">
    <% if @trader && @trader.projects.any? %>
      <table class="col col-md-12 col-sm-12 col-xs-12" style="margin: 30px 0;">
        <% invoice_date = first_day(Date.parse(@trader.projects.order("id asc").first.created_at.strftime("%Y-%m-%d"))) %>
        <% begin %>
          <tr>
            <td class="col col-md-4 col-sm-4 col-xs-4" style="padding: 10px 0;"><a target="_blank" href="/admin/invoice?trader_id=<%= @trader.id %>&from=<%= first_day(invoice_date).strftime("%Y-%m-%d") %>&to=<%= last_day(invoice_date).strftime("%Y-%m-%d") %>" class="btn btn-success"><%= invoice_date.year %>年<%= invoice_date.month %>月份账单</a></td>

            <% projects = Project.where(:created_at => Time.parse(first_day(invoice_date).strftime("%Y-%m-%d"))..Time.parse(last_day(invoice_date).strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => @trader.slave_trader_ids + [@trader.id], :payment => "unpaid") %>
            <% total_count = projects.length %>
            <% total_price = 0 %>
            <% deleted_count = 0 %>
            <% projects.each do |project| %>
              <% if project.status == "deleted" || project.delete_request %>
                <% deleted_count += 1 %>
              <% else %>
                <% total_price += get_project_price(project) %>
              <% end %>
            <% end %>

            <td class="col col-md-5 col-sm-5 col-xs-5" style="padding: 10px 0;">
              共 <span style="font-weight: bolder; color: orange;"><%= total_count %></span> 件 ( 单独 <span style="font-weight: bolder; color: orange;"><%= Project.where(:created_at => Time.parse(first_day(invoice_date).strftime("%Y-%m-%d"))..Time.parse(last_day(invoice_date).strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => [@trader.id], :payment => "unpaid").length %></span> 件, 取消 <span style="font-weight: bolder; color: red;"><%= deleted_count %></span> 件 )
            </td>

            <td class="col col-md-3 col-sm-3 col-xs-3" style="padding: 10px 0;">
              总额 <span style="font-weight: bolder; color: orange;"><%= total_price %></span> 円
            </td>
          </tr>

          <% invoice_date = invoice_date >> 1 %>
        <% end while(invoice_date <= Date.today) %>
      </table>
    <% end %>
  </div>
</div>