<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <table class="trader-info table">
      <caption onclick="toggleTable('trader_table_body')" style="cursor:pointer;" >
        <span>（<%= @trader.company_name %>）的账户资料　</span>
        <%= link_to fa_icon("edit"), edit_trader_path(@trader), :method => :get, :class => "update", :onclick => "toggleTable('trader_table_body'); return false;" %>
        <%= link_to fa_icon("trash"), @trader, :method => :delete, :data => { :confirm => "确定删除此账户吗？" }, :class => "delete", :onclick => "toggleTable('trader_table_body'); return false;" %>
      </caption>

      <tbody id="trader_table_body" style="display:none">
        <tr>
          <td class="col-md-6 col-sm-6">公司名</td>
          <td class="col-md-6 col-sm-6"><%= @trader.company_name %></td>
        </tr>
        <tr>
          <td>担当者</td>
          <td><%= @trader.person_name %></td>
        </tr>
        <tr>
          <td>账号</td>
          <td><%= @trader.account %></td>
        </tr>      
        <tr>
          <td>密码</td>
          <td><%= @trader.password_backup %></td>
        </tr>
        <tr>
          <td>電話</td>
          <td><%= @trader.telephone %></td>
        </tr>
        <tr>
          <td>个人签证单价</td>
          <td><%= @trader.indivisual_price %> ¥ ／ 人</td>
        </tr>
        <tr>
          <td>团体签证单价</td>
          <td><%= @trader.group_price_indivisual %> ¥ ／ 人</td>
        </tr>
        <tr>
          <td>团体签证固定价(11〜20人)</td>
          <td><%= @trader.group_price_11_20 %> ¥ ／ 团</td>
        </tr>
        <tr>
          <td>团体签证固定价(21〜30人)</td>
          <td><%= @trader.group_price_21_30 %> ¥ ／ 团</td>
        </tr>
        <tr>
          <td>团体签证固定价(31〜40人)</td>
          <td><%= @trader.group_price_31_40 %> ¥ ／ 团</td>
        </tr>
        <tr>
          <td>3年多次单价</td>
          <td><%= @trader.year_3_price %> ¥ ／ 人</td>
        </tr>
        <tr>
          <td>5年多次单价</td>
          <td><%= @trader.year_5_price %> ¥ ／ 人</td>
        </tr>
        <tr>
          <td>QQ</td>
          <td><%= @trader.qq %></td>
        </tr>
        <tr>
          <td>电子邮件</td>
          <td><%= @trader.email %></td>
        </tr>
        <tr>
          <td>FAX</td>
          <td><%= @trader.fax %></td>
        </tr>
        <tr>
          <td>銀行账户</td>
          <td><%= @trader.bank %></td>
        </tr>
        <tr>
          <td>公司地址</td>
          <td><%= @trader.address %></td>
        </tr>
        <tr>
          <td>申请总数</td>
          <td><div style="font-weight:bold; color:orange;"><%= @trader.projects.length %> 件</div></td>
        </tr>        
        <tr>
          <td>最终更新</td>
          <td><%= @trader.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
      </tbody>
      <tr>
        <td class="footer" colspan="2"></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="project-info table">
        <caption>
          <div class="row" style="text-align:center"><h3><%= @trader.company_name %>的签证 （ 查询结果：<%= @projects.length %>件 ）<h3></div>
          <div class="row" style="text-align:center">
            <form action="/traders/<%= @trader.id %>" accept-charset="UTF-8" method="get">
              <%= render "/shared/search_form" %>
            </form>
          </div>

          <div style="text-align:center; height:70px;">
            <%= paginate @projects, :window => 5 %>
          </div>          
        </caption>

        <% if @projects.any? %>
          <thead>
            <tr>
              <th>签证资料</th>
              <th>状态</th>
                <th>价格</th>
              <th>回国报告</th>
            </tr>
          </thead>

          <tbody>
            <%= render @projects %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>

</div>