<style type="text/css">
  table {
    margin: 30px 0;
  }
  td, th {
    border: 1px solid #cccccc;
    padding: 5px;
    text-align: center
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>


<% if params[:analysis_period] %>
  <% analysis_period = params[:analysis_period].to_i #days %>
<% else %>
  <% analysis_period = 7 %>
<% end %>

<% if !params[:mode] %>
  <% params[:mode] = "total" %>
<% end %>

<% if !params[:unit] %>
  <% params[:unit] = "number" %>
<% end %>

<h1><i class="fa fa-signal"></i> 数据分析</h1>
<div class="row">
  <div class="container col-md-12">
    <table class="col-md-12">
      <thead>
        <tr>
          <td colspan="2" style="text-align:center;">

            <form action="/admin/analysis" method="get" accept-charset="UTF-8">

              <div class="col col-md-3">
                <div data-toggle="buttons" style="margin-top:0; margin:5px;" class="btn-group toggle">
                  <label class="btn btn-default <%= 'active' if (analysis_period == 7) %>">
                    <input type="radio" value="7" name="analysis_period" <%= 'checked' if analysis_period == 7 %> />1週
                  </label>
                  <label class="btn btn-default <%= 'active' if (analysis_period == 14) %>">
                    <input type="radio" value="14" name="analysis_period" <%= 'checked' if analysis_period == 14 %> />2週
                  </label>
                  <label class="btn btn-default <%= 'active' if (analysis_period == 21) %>">
                    <input type="radio" value="21" name="analysis_period" <%= 'checked' if analysis_period == 21 %> />3週
                  </label>
                  <label class="btn btn-default <%= 'active' if (analysis_period == 28) %>">
                    <input type="radio" value="28" name="analysis_period" <%= 'checked' if analysis_period == 28 %> />4週
                  </label>
                </div>
              </div>


              <div class="col col-md-3">
                <div data-toggle="buttons" style="margin-top:0; margin:5px;" class="btn-group toggle">
                  <label class="btn btn-default <%= 'active' if (params[:mode] == 'total') %>">
                    <input type="radio" value="total" name="mode" <%= 'checked' if params[:mode] == 'total' %> />全種 
                  </label>
                  <label class="btn btn-default <%= 'active' if params[:mode] == 'seperate' %>">
                    <input type="radio" value="seperate" name="mode" <%= 'checked' if params[:mode] == 'seperate' %> />分別
                  </label>
                  <label class="btn btn-default <%= 'active' if (params[:mode] == 'deleted') %>">
                    <input type="radio" value="deleted" name="mode" <%= 'checked' if params[:mode] == 'deleted' %> />取消
                  </label>                  
                </div>
              </div>

              <div class="col col-md-3">
                <div data-toggle="buttons" style="margin-top:0; margin:5px;" class="btn-group toggle">
                  <label class="btn btn-default <%= 'active' if (params[:unit] == 'number') %>">
                    <input type="radio" value="number" name="unit" <%= 'checked' if params[:unit] == 'number' %> />件数
                  </label>
                  <label class="btn btn-default <%= 'active' if (params[:unit] == 'money') %>">
                    <input type="radio" value="money" name="unit" <%= 'checked' if params[:unit] == 'money' %> />金額
                  </label>                  
                  <label class="btn btn-default <%= 'active' if (params[:unit] == 'people') %>">
                    <input type="radio" value="people" name="unit" <%= 'checked' if params[:unit] == 'people' %> />人数
                  </label>                  
                </div>
              </div>

              <div class="col-md-3" style="padding-top: 5px">
                <input type="submit" value="分析" class="btn btn-primary require-loading">
              </div>
            </form>
          </td>
        </tr>
      </thead>

      <% if current_trader.authority == "all" %>
        <% traders = @traders %>
      <% elsif current_trader.authority == "self" %>
        <% traders = @traders.where(:id => current_trader.id) %>        
      <% else %>
        <% traders = @traders.where(:invoice_company => current_trader.authority) %>
      <% end %>

      <% traders.order("id desc").reverse.each do |trader| %>
        <tr id="<%= trader.id %>">
          <td style="width: 25%">
            <div style="font-weight: bolder; color: #888888; text-align: left;">
              <% if trader.id == current_trader.id %>
                合計
              <% else %>
                <div style="cursor:pointer;" onclick="location.href='/traders/<%= trader.id %>'">
                  <% if trader.id == params[:id].to_i %>
                    <span style="color:orange;"><%= trader.company_name %></span>
                  <% else %>
                    <%= trader.company_name %>
                  <% end %>
                </div>
                <div style="padding: 10px;"><a href="/my_invoice/<%= trader.id %>" class="btn btn-success btn-xs">账单</a></div>
              <% end %>
            </div>
          </td>
          <td class="graph-cell" style="width: 75%">
            <% labels = "[" %>
            <% if params[:mode] == "seperate" %>
              <% group = "[" %>
              <% individual = "[" %>
            <% elsif params[:mode] == "total" %>
              <% data = "[" %>
            <% elsif params[:mode] == "deleted" %>
              <% data = "[" %>
              <% deleted = "[" %>
            <% end %>

            <% (analysis_period).downto(0).each do |num| %>
              <% target_date = Date.today - num %>
              <% labels += '"' + target_date.strftime("%m月%d日") + '"' %>
              <% if trader.id == current_trader.id %>
                <% if current_trader.authority == "all" %>
                  <% projects = Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :status => "committed", :delete_request => false) %>
                <% elsif current_trader.authority == "self" %>
                  <% projects = Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => trader.slave_trader_ids + [trader.id], :status => "committed", :delete_request => false) %>
                <% else %>
                  <% @traders = Trader.where(:invoice_company => current_trader.authority) %>
                  <% @ids = Array.new(0, nil) %>
                  <% @traders.each do |trader| %>
                    <% @ids.push(trader.id) %>
                  <% end %>
                  <% projects = Project.where("trader_id in (?)", @ids).where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :status => "committed", :delete_request => false) %>
                <% end %>
                <% if params[:mode] == "deleted" %>
                  <% deleted_projects = Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1).where("status = ? OR delete_request = ?", "deleted", true) %>
                <% end %>
              <% else %>
                <% projects = Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => trader.slave_trader_ids + [trader.id], :status => "committed", :delete_request => false) %>
                <% if params[:mode] == "deleted" %>
                  <% deleted_projects = Project.where(:created_at => Time.parse(target_date.strftime("%Y-%m-%d"))..Time.parse(target_date.strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => trader.slave_trader_ids + [trader.id]).where("status = ? OR delete_request = ?", "deleted", true) %>
                <% end %>
              <% end %>

              <% if params[:mode] == "seperate" %>
                <% group_projects = projects.where(:visa_type => "group") %>
                <% if params[:unit] == "number" %>
                  <% group += group_projects.length.to_s %>
                  <% individual += (projects.length-group_projects.length).to_s %>
                <% elsif params[:unit] == "money" %>
                  <% group_price = get_projects_price(group_projects) %>
                  <% group += group_price.to_s %>
                  <% individual += (get_projects_price(projects)-group_price).to_s %>
                <% elsif params[:unit] == "people" %>
                  <% group_clients = get_clients_length(group_projects) %>
                  <% group += group_clients.to_s %>
                  <% individual += (get_clients_length(projects)-group_clients).to_s %>
                <% end %>
              <% elsif params[:mode] == "total" %>
                <% if params[:unit] == "number" %>
                  <% data += projects.length.to_s %>
                <% elsif params[:unit] == "money" %>
                  <% data += get_projects_price(projects).to_s %>                  
                <% elsif params[:unit] == "people" %>
                  <% data += get_clients_length(projects).to_s %>                  
                <% end %>
              <% elsif params[:mode] == "deleted" %>
                <% if params[:unit] == "number" %>
                  <% data += projects.length.to_s %>
                  <% deleted += deleted_projects.length.to_s %>
                <% elsif params[:unit] == "money" %>
                  <% data += get_projects_price(projects).to_s %>
                  <% deleted += get_projects_price(deleted_projects).to_s %>                
                <% elsif params[:unit] == "people" %>
                  <% data += get_clients_length(projects).to_s %>
                  <% deleted += get_clients_length(deleted_projects).to_s %>                
                <% end %>
              <% end %>

              <% if num > 0 %>
                <% labels += "," %>

                <% if params[:mode] == "seperate" %>                
                  <% group += "," %>
                  <% individual += "," %>
                <% elsif params[:mode] == "total" %>
                  <% data += "," %>
                <% elsif params[:mode] == "deleted" %>
                  <% data += "," %>
                  <% deleted += "," %>
                <% end %>
              <% end %>
            <% end %>

            <% labels += "]" %>
            <% if params[:mode] == "seperate" %>
              <% group += "]" %>
              <% individual += "]" %>
            <% elsif params[:mode] == "total" %>
              <% data += "]" %>
            <% elsif params[:mode] == "deleted" %>
              <% data += "]" %>
              <% deleted += "]" %>
            <% end %>

            <input type="hidden" class="data" value="<%= data %>">
            <input type="hidden" class="group" value="<%= group %>">
            <input type="hidden" class="individual" value="<%= individual %>">
            <input type="hidden" class="labels" value="<%= labels %>">
            <input type="hidden" class="deleted" value="<%= deleted %>">
            <div class="box">
              <canvas class="chart" height="<%= (120 + 80 * (analysis_period - 7) / 21).to_i %>" width="600"></canvas>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<script language="JavaScript">
  $("td.graph-cell").each(function() {
      var labels = JSON.parse($(this).find("input.labels")[0].value);
      <% if params[:mode] == "seperate" %>
        var group = JSON.parse($(this).find("input.group")[0].value);
        var individual = JSON.parse($(this).find("input.individual")[0].value);
      <% elsif params[:mode] == "total" %>
        var data = JSON.parse($(this).find("input.data")[0].value);
      <% elsif params[:mode] == "deleted" %>
        var data = JSON.parse($(this).find("input.data")[0].value);
        var deleted = JSON.parse($(this).find("input.deleted")[0].value);
      <% end %>

      // orange 255,200,100,
      // gray 220,220,220,
      // green 80,200,180,
      // blue 151,187,205,
      var data = {
          labels: labels,
          datasets: [
          <% if params[:mode] == "seperate" %>
              {
                  label: "个签",
                  fillColor : "rgba(220,220,220,0.1)",//面の色・透明度
                  strokeColor : "rgba(220,220,220,1)",//線の色・透明度
                  pointColor : "rgba(220,220,220,1)", //点の色・透明度
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(220,220,220,1)",
                  data: individual
              },
              {
                  label: "团签",
                  fillColor: "rgba(80,200,180,0.2)",
                  strokeColor: "rgba(80,200,180,1)",
                  pointColor: "rgba(80,200,180,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(80,200,180,1)",
                  data: group
              }
          <% elsif params[:mode] == "total" %>
              {
                  label: "总数",
                  fillColor: "rgba(151,187,205,0.2)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(151,187,205,1)",
                  data: data
              }
          <% elsif params[:mode] == "deleted" %>
              {
                  label: "总数",
                  fillColor: "rgba(151,187,205,0.2)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(151,187,205,1)",
                  data: data
              },
              {
                  label: "取消",
                  fillColor : "rgba(255,200,100,0.1)",//面の色・透明度
                  strokeColor : "rgba(255,200,100,1)",//線の色・透明度
                  pointColor : "rgba(255,200,100,1)", //点の色・透明度
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "rgba(255,200,100,1)",
                  data: deleted
              }
          <% end %>
          ]
      };

      var options = {
        animationSteps : 10,
        tooltipFillColor: "rgba(0,0,0,0.8)",                
        <% if params[:unit] == "number" %>
          scaleLabel : "\<\%=value\%\>件",
          tooltipTemplate: "\<\%if (label){\%\>\<\%=label\%\>: \<\%}\%\>\<\%= value \%\>件",
          multiTooltipTemplate: "\<\%=datasetLabel\%\>: \<\%= value \%\>件",
        <% elsif params[:unit] == "money" %>
          scaleLabel : "\<\%=value\%\>円",
          tooltipTemplate: "\<\%if (label){\%\>\<\%=label\%\>: \<\%}\%\>\<\%= value \%\>円",
          multiTooltipTemplate: "\<\%=datasetLabel\%\>: \<\%= value \%\>円",
        <% elsif params[:unit] == "people" %>
          scaleLabel : "\<\%=value\%\>人",
          tooltipTemplate: "\<\%if (label){\%\>\<\%=label\%\>: \<\%}\%\>\<\%= value \%\>人",
          multiTooltipTemplate: "\<\%=datasetLabel\%\>: \<\%= value \%\>人",
        <% end %>
      };
      var ctx = $(this).find("canvas.chart")[0].getContext("2d")
      var lineChart = new Chart(ctx).Line(data, options);
  })

</script>