<style type="text/css">
  td, th {
    border: 1px solid #cccccc;
    text-align: center
  }
</style>
<h1><i class="fa fa-dollar"></i></h1>
<div class="row">
  <div class="container col-md-10 col-md-offset-1">
    <table class="col col-md-12 col-sm-12 col-xs-12" style="margin: 30px 0;">
      <tbody>
        <% @traders.each do |trader| %>
          <% if trader.activation %>
          <tr>
          <% else %>
          <tr style='background-color: #f99'>
          <% end %>
            <td>
              <div style="cursor:pointer;" class="btn btn-default btn-xs" onclick="location.href='/my_invoice/<%= trader.id %>'"><%= trader.company_name %></div>
              <br>
              <br>
              <% if trader.activation %>
                <div class="btn btn-default btn-xs require-loading" onclick="location.href='/admin/activate?id=<%= trader.id %>'">停止</div>
              <% else %>
                <div class="btn btn-default btn-xs require-loading" onclick="location.href='/admin/activate?id=<%= trader.id %>'">开放</div>
              <% end %>
            </td>
            <td>
              <% if trader.projects.any? %>
                <% invoice_date = first_day(Date.parse(trader.projects.order("id asc").first.created_at.strftime("%Y-%m-%d"))) %>
                 <% begin %>
                   <a target="_blank" style="margin: 5px" href="/admin/invoice?trader_id=<%= trader.id %>&from=<%= first_day(invoice_date).strftime("%Y-%m-%d") %>&to=<%= last_day(invoice_date).strftime("%Y-%m-%d") %>&include_paid=1" class="btn btn-success"><%= invoice_date.year %>年<%= invoice_date.month %>月份账单</a>

                   <% projects = Project.where(:created_at => Time.parse(first_day(invoice_date).strftime("%Y-%m-%d"))..Time.parse(last_day(invoice_date).strftime("%Y-%m-%d"))+60*60*24-1, :trader_id => trader.slave_trader_ids + [trader.id]) %>

                   <div style="display:inline-block; width: 200px">
                   </div>


                   <% if is_admin? || has_authority? %>
                     <% unless trader.payoffs.where(status: invoice_date.to_s).empty? %>
                         <span class="btn btn-xs btn-success require-loading" onclick="location.href='/admin/delete_payoff?trader_id=<%= trader.id %>&status=<%= invoice_date.to_s %>'">以支付</span>
                     <% else %>
                         <span class="btn btn-xs btn-danger require-loading" onclick="location.href='/admin/create_payoff?trader_id=<%= trader.id %>&status=<%= invoice_date.to_s %>'">未支付</span>
                     <% end %>
                   <% end %>


                   <% if is_admin? %>
                     <% unless trader.confirmations.where(status: invoice_date.to_s).empty? %>
                         <span class="btn btn-xs btn-success require-loading" onclick="location.href='/admin/delete_confirmation?trader_id=<%= trader.id %>&status=<%= invoice_date.to_s %>'">以结算</span>
                     <% else %>
                         <span class="btn btn-xs btn-danger require-loading" onclick="location.href='/admin/create_confirmation?trader_id=<%= trader.id %>&status=<%= invoice_date.to_s %>'">未结算</span>
                     <% end %>
                   <% elsif has_authority? %>
                     <% unless trader.confirmations.where(status: invoice_date.to_s).empty? %>
                         <span class="btn btn-xs btn-success">以结算</span>
                     <% else %>
                         <span class="btn btn-xs btn-danger">未结算</span>
                     <% end %>
                   <% end %>

                   <br/>
                   <% invoice_date = invoice_date >> 1 %>
                 <% end while(invoice_date <= Date.today) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
