<!-- ************************** calculation ********************** -->
<% total_price = 0 %>
<% total_count = 0 %>
<% @projects.each do |project| %>
  <% if project.status != "deleted" && !project.delete_request %>
    <% if !is_admin? || project.payment == "unpaid" %>
      <% total_price += get_project_price(project) %>
      <% total_count += 1 %>
    <% end %>
  <% end %>
<% end %>

<% company_info = Constants::JAPAN_SIDE_COMPANY[@trader.invoice_company.intern] %>

<!-- ************************** header *************************** -->
<div style="padding-left: 10px;">
  <% if company_info[:logo].present? && company_info[:logo].length > 0 %>
    <%= image_tag(::Rails.root.join('public', company_info[:logo]), :style => "width: 180px; height: 62px;") %>
  <% else %>
    <div style="width: 180px; height: 62px;"></div>  
  <% end %>
</div>
<div style="position:absolute; top: 0px; right: 0px;">
  <table style="font-size:12px;">
    <tr>
      <td style="padding-right:40px;">発行日:</td>
      <td style=""><%= Date.today.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <td>請求期間:</td>
      <td style="font-size: 0.9em;"><%= Date.parse(params[:from]).strftime("%Y年%m月%d日") %> ~ <%= Date.parse(params[:to]).strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <td>伝票番号:</td>
      <td style=""><%= @trader.id.to_s + Date.parse(params[:from]).strftime("%Y%m%d") + Date.parse(params[:to]).strftime("%Y%m%d") %></td>
    </tr>
    <tr>
      <td>担当:</td>
      <td style=""><%= company_info[:chief] %></td>
    </tr>
  </table>
</div>

<!-- ************************** title *************************** -->
<div class="head" style="text-align:center; font-size:27px; font-weight:bold; margin-top:40px;">
  <span style="border-bottom: 1px solid black; padding-bottom: 2px;"> 　<%= Date.parse(params[:to]).month %>　月　份　御　請　求　書 　</span>
  <br><span style="font-size: 20px;">INVOICE</span>
</div>

<!-- ************************** info *************************** -->
<table style="width:100%; margin-top: 30px;">
  <tr>
    <td style="border: 1px solid black; width: 50%; padding: 10px; font-size:20px; text-align:center"><%= @trader.company_name %> 様</td>
    <td style="width: 50%; padding-left:50px; font-size:14px;" rowspan="3">
      <%= company_info[:company_name] %><br/>
      <%= company_info[:address_1] %><br/>
      <%= company_info[:address_2] %><br/>      
      電話 : <%= company_info[:phone] %><br/>     
      FAX : <%= company_info[:fax] %><br/>
      <div style="position:absolute; margin-top: -80px; margin-left: 130px;"><%= image_tag(::Rails.root.join('public',"0_" + company_info[:signature_2]), :style => "width:  80px; opacity:1") %></div>
    </td>
  </tr>

  <tr>
    <td style="height:20px"> </td>
  </tr>

  <tr>
    <td rowspan="2" style="border: 1px solid black; width: 40%; padding: 15px; font-size:23px; text-align:center">
      ¥ <%= total_price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\1,').reverse %>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td style="height:20px;"></td>
    <td style="width: 50%; padding-left:50px; font-size:14px;" rowspan="2">
      <span style="font-weight:bold">振込先:</span><br/>
      <%= company_info[:bank_1] %><br/>
      <%= company_info[:bank_2] %><br/>
      <span style="font-size:12px"><%= company_info[:bank_3] %></span>
    </td>
  </tr>

  <tr>
    <td rowspan="2" style="border: 1px solid black; width: 40%; font-size:13px; font-weight:bold; text-align:center">
      <div style="width:56%; float:left; padding-top: 10px;  padding-bottom: 10px; border-right: 1px solid black; line-height:20px;">
        支払い期限 : <br/>
        Payment Due Date : 
      </div>
      <div style="width:44%; float:right; text-align:center; margin-top: 20px; font-size:16px; text-decoration: underline">
        <%= Date.parse(params[:to]).next_month.strftime("%Y年%m月10日") %>
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td style="width: 50%; padding-left:50px; font-size:13px; line-height:18px;">
      <span style="font-weight:bold;">ENGLISH (英文) : </span><br/>
      Bank Account :<%= company_info[:bank_english_1] %><br/>
      <%= company_info[:bank_english_2] %><br/>
      Branch Code: <%= company_info[:bank_english_3] %><br/>
      Account No. : <%= company_info[:bank_english_4] %><br/>
      Account Name: <span style="font-size:9px;"><%= company_info[:bank_english_5] %></span><br/>
      Bank Swift Code: <%= company_info[:bank_english_6] %>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="width: 100%; font-size:15px;line-height:23px; padding: 25px 25px 25px 0;">
      *尚振込み手数料はお客様にてご負担お願い致します<br/>
      下記の通りご請求申し上げます。               
    </td>
  </tr>
</table>


<!-- ************************** details *************************** -->
<% all_people = 0 %>
<% if(@projects.length <= 10) %>
  <table class="details">
    <thead>
      <tr>
        <th class="no">数次<br/>View</th>
        <th class="company">公司<br/>Company</th>
        <th class="date">日付<br/>Dates</th>
        <th class="description">明細<br/>Descriptions</th>
        <th class="pax">人数<br/>Pax</th>
        <th class="unit">单价<br/>Unit</th>
        <th class="amount">金額<br/>Amount</th>
        <th class="during">期间<br/>During</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each_with_index do |project, index| %>
        <% if project[:delete_request] || project[:status] == "deleted" %>
          <tr style="text-decoration:line-through">
        <% else %>
          <tr>
          <% all_people += project.clients.length %>
        <% end %>
          <td class="no"><%= index + 1 %></td>
          <td class="company"><%= project[:china_company_name] %></td>
          <td class="date"><%= project[:created_at].strftime("%m月%d日") %></td>
          <td class="description">(<%= visa_type_str_short(project[:visa_type]) %>) <%= project[:representative_name_chinese] %></td>
          <td class="pax"><%= project[:total_people] %></td>
          <td class="unit">¥<%= get_unit_price(project) %></td>
          <td class="amount">¥<%= get_project_price(project) %></td>
          <td class="during"><%= project[:date_arrival].to_era("%O%E年%m月%d日") %>から<%= project[:date_leaving].to_era("%O%E年%m月%d日") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <!-- head table -->
  <table class="details" style="page-break-after:always">
    <thead>
      <tr>
        <th class="no">数次<br/>View</th>
        <th class="company">公司<br/>Company</th>
        <th class="date">日付<br/>Dates</th>
        <th class="description">明細<br/>Descriptions</th>
        <th class="pax">人数<br/>Pax</th>
        <th class="unit">单价<br/>Unit</th>
        <th class="amount">金額<br/>Amount</th>
        <th class="during">期间<br/>During</th>
      </tr>
    </thead>
    <tbody>
     <% for index in 0..9 do %>
      <% project = @projects[index] %>
        <% if project[:delete_request] || project[:status] == "deleted" %>
          <tr style="text-decoration:line-through">
        <% else %>
          <tr>
          <% all_people += project.clients.length %>          
        <% end %>
          <td class="no"><%= index + 1 %></td>
          <td class="company"><%= project[:china_company_name] %></td>
          <td class="date"><%= project[:created_at].strftime("%m月%d日") %></td>
          <td class="description"><%= visa_type_str_short(project[:visa_type]) %> <%= project[:representative_name_chinese] %></td>
          <td class="pax"><%= project[:total_people] %></td>
          <td class="unit">¥<%= get_unit_price(project) %></td>
          <td class="amount">¥<%= get_project_price(project) %></td>
          <td class="during"><%= project[:date_arrival].to_era("%O%E年%m月%d日") %>から<%= project[:date_leaving].to_era("%O%E年%m月%d日") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- body table --> 
  <% body_cnt = ((@projects.length-10) / 40).to_i %>
  <% index = 9 %>
  <% body_cnt.times do %>
    <table class="details" style="page-break-after:always">
      <tbody>
       <% 40.times do %>
        <% index += 1 %>
        <% project = @projects[index] %>
          <% if project[:delete_request] || project[:status] == "deleted" %>
            <tr style="text-decoration:line-through">
          <% else %>
            <tr>
            <% all_people += project.clients.length %>            
          <% end %>
            <td class="no"><%= index + 1 %></td>
            <td class="company"><%= project[:china_company_name] %></td>
            <td class="date"><%= project[:created_at].strftime("%m月%d日") %></td>
            <td class="description"><%= visa_type_str_short(project[:visa_type]) %> <%= project[:representative_name_chinese] %></td>
            <td class="pax"><%= project[:total_people] %></td>
            <td class="unit">¥<%= get_unit_price(project) %></td>
            <td class="amount">¥<%= get_project_price(project) %></td>
            <td class="during"><%= project[:date_arrival].to_era("%O%E年%m月%d日") %>から<%= project[:date_leaving].to_era("%O%E年%m月%d日") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <!-- tail table -->
  <table class="details">
    <tbody>
     <% first = index+1 %>
     <% for index in first..@projects.length-1 do %>
      <% project = @projects[index] %>
        <% if project[:delete_request] || project[:status] == "deleted" %>
          <tr style="text-decoration:line-through">
        <% else %>
          <tr>
          <% all_people += project.clients.length %>
        <% end %>
          <td class="no"><%= index + 1 %></td>
          <td class="company"><%= project[:china_company_name] %></td>
          <td class="date"><%= project[:created_at].strftime("%m月%d日") %></td>
          <td class="description"><%= visa_type_str_short(project[:visa_type]) %> <%= project[:representative_name_chinese] %></td>
          <td class="pax"><%= project[:total_people] %></td>
          <td class="unit">¥<%= get_unit_price(project) %></td>
          <td class="amount">¥<%= get_project_price(project) %></td>
          <td class="during"><%= project[:date_arrival].to_era("%O%E年%m月%d日") %>から<%= project[:date_leaving].to_era("%O%E年%m月%d日") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<!-- ************************** conclude *************************** -->
<% if 40-((@projects.length-10)%40) > 7 %>
  <table class="conclusion">
<% else %>
  <table class="conclusion" style="page-break-before:always">
<% end %>
  <tr>
    <th rowspan="2">合計<br/>(税込)</th>
    <th>有效件数</th>
    <th>総人数</th>
    <th>総額</th>
  </tr>
  <tr>
    <td><%= total_count %>件</td>
    <td><%= all_people %>人</td>
    <td>¥ <%= total_price.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\1,').reverse %></td>
  </tr>
  <tr>
    <td colspan="4" style="font-size:14px;">
      <div style="width:35%; float:left;">支払期限(Payment Due Date):</div>
      <div style="width:30%; float:left;"><%= Date.parse(params[:to]).next_month.strftime("%Y年%m月10日") %></div>
      <div style="width:35%; float:left;">宜しくお願い申し上げます。</div>
    </td>
  </tr>
</table>

