<%= form_for(project) do |f| %>
<input type="hidden" id="company_data_json" value="<%= @company_codes.to_json({:only => [:name, :search_text]}) %>">

      <div class="col-md-6 col-md-offset-3 errors-container"><%= render :partial => "shared/error_messages", :locals => {:object => f.object} %></div>


      <!--************************* identity ***************************-->
      <div id="identity_container" class="dashed_container col-md-6 col-md-offset-3">
            <div class="title">
                  <i class="fa fa-user-plus"></i> 签证资料
            </div>

            <!-- Company Name -->
            <div id="china_company_container">
                  <%= f.label :china_company_name, "中国旅行社名" %> <i id="china_company_check"></i>
                  <%= f.text_field(
                              :china_company_name, :class => 'form-control',
                              :maxlength => "30",
                              :id => "company_input", :autocomplete => "off", :placeholder => "中国江苏国际旅行社", 
                              :onfocus=>"updateIconOnlyCheck('china_company_check', validateCompanyName, 'china_company_container')", 
                              :oninput=>"updateIconOnlyCheck('china_company_check', validateCompanyName, 'china_company_container')", 
                              :onchange=>"updateIcon('china_company_check', validateCompanyName, 'china_company_container')", 
                              :onblur => "updateIcon('china_company_check', validateCompanyName, 'china_company_container')" 
                  ) %>
                  <div class="container" id="suggest_container"><div id="suggest" style="display:none;"></div></div>
            </div>

            <!-- In charge person name -->
            <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" %>
                  <div id="in_charge_person_container" style="display:none">
            <% else %>
                  <div id="in_charge_person_container">
            <% end %>
                  <%= f.label :in_charge_person, "担当者姓名" %> <i id="in_charge_person_check"></i>
                  <%= f.text_field(
                              :in_charge_person, :class => 'form-control',
                              :maxlength => "5",
                              :id => "in_charge_person_input", :autocomplete => "off", :placeholder => "李利", 
                              :onfocus=>"updateIconOnlyCheck('in_charge_person_check', validateInChargePerson, 'in_charge_person_container')", 
                              :oninput=>"updateIconOnlyCheck('in_charge_person_check', validateInChargePerson, 'in_charge_person_container')", 
                              :onchange=>"updateIcon('in_charge_person_check', validateAndReplaceInChargePerson, 'in_charge_person_container')", 
                              :onblur => "updateIcon('in_charge_person_check', validateAndReplaceInChargePerson, 'in_charge_person_container')" 
                  ) %>
            </div>

            <!-- I charge phone -->
            <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" %>
                  <div id="in_charge_phone_container" style="display:none">
            <% else %>
                  <div id="in_charge_phone_container">
            <% end %>
                  <%= f.label :in_charge_phone, "担当者联系电话" %> <i id="in_charge_phone_check"></i>
                  <%= f.text_field(
                              :in_charge_phone, :class => 'form-control',
                              :maxlength => "20",
                              :id => "in_charge_phone_input", :autocomplete => "off", :placeholder => "13701083128", 
                              :onfocus=>"updateIconOnlyCheck('in_charge_phone_check', validateInChargePhone, 'in_charge_phone_container')", 
                              :oninput=>"updateIconOnlyCheck('in_charge_phone_check', validateInChargePhone, 'in_charge_phone_container')", 
                              :onchange=>"updateIcon('in_charge_phone_check', validateAndReplaceInChargePhone, 'in_charge_phone_container')", 
                              :onblur => "updateIcon('in_charge_phone_check', validateAndReplaceInChargePhone, 'in_charge_phone_container')" 
                  ) %>
            </div>


            <!-- Visa Type -->
            <%= f.label :visa_type, "签证种类" %> <i id="visa_type_check"></i>
            <div class="form-group">
                  <div id='visaType' class="btn-group" data-toggle="buttons" onchange="updateIcon('visa_type_check', validateVisaType)">
                      <label class="btn btn-default <%= 'active' if(project.visa_type == 'group') %>">
                          <input type="radio" autocomplete="off" value="group" name="project[visa_type]" <%= 'checked' if(project.visa_type == 'group') %>><%= visa_type_str("group") %>
                      </label>
                      <label class="btn btn-default <%= 'active' if(project.visa_type == 'individual') %>">
                          <input type="radio" autocomplete="off" value="individual" name="project[visa_type]" <%= 'checked' if(project.visa_type=='individual') %>><%= visa_type_str("individual") %>
                      </label>
                      <label class="btn btn-default <%= 'active' if(project.visa_type == '3years') %>">
                          <input type="radio" autocomplete="off" value="3years" name="project[visa_type]" <%= 'checked' if(project.visa_type == '3years') %>><%= visa_type_str("3years") %>
                      </label>
                      <label class="btn btn-default <%= 'active' if(project.visa_type == '5years') %>">
                          <input type="radio" autocomplete="off" value="5years" name="project[visa_type]" <%= 'checked' if(project.visa_type == '5years') %>><%= visa_type_str("5years") %>
                      </label>
                  </div>
            </div>

            <!-- Representative Name -->
            <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" || project.trader.validation_mode == "strict" %>
                  <div id="chinese_name_container" style="display: none">
            <% else %>
                  <div id="chinese_name_container">
            <% end %>
                  <%= f.label :representative_name_chinese, "签证代表人姓名(简体字)" %> <i id="chinese_name_check"></i>
                  <%= f.text_field(
                        :representative_name_chinese, :class => 'form-control', :placeholder => "王鹤", :autocomplete => "off",
                        :id => "chineseName",
                        :maxlength => "5",
                        :onfocus => "updateIconOnlyCheck('chinese_name_check', validateChineseName, 'chinese_name_container')",
                        :oninput => "updateIconOnlyCheck('chinese_name_check', validateChineseName, 'chinese_name_container')",
                        :onblur => "autoCompleteFirstChineseName()",
                        :onchange => "autoCompleteFirstChineseName()"
                  ) %>
            </div>


            <!-- Representative Name(english) -->
            <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" || project.trader.validation_mode == "strict" %>
                  <div id="english_name_container" style="display: none">
            <% else %>
                  <div id="english_name_container">
            <% end %>
                  <%= f.label :representative_name_english, "签证代表人姓名(拼音)" %> <i id="english_name_check"></i>
                  <%= f.text_field(
                        :representative_name_english, :class => 'form-control', :placeholder => "WANG FEIHE", :autocomplete => "off",
                        :id => "englishName",
                        :style => "ime-mode: disabled;",
                        :maxlength => "15",
                        :onfocus => "updateIconOnlyCheck('english_name_check', validateEnglishName, 'english_name_container')",
                        :oninput => "updateIconOnlyCheck('english_name_check', validateEnglishName, 'english_name_container')",
                        :onblur => "autoCompleteFirstEnglishName()",
                        :onchange => "autoCompleteFirstEnglishName()"
                  ) %>
            </div>

            <!-- total people -->
            <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" || project.trader.validation_mode == "strict" %>
                  <div id="total_people_container" style="display: none">
            <% else %>
                  <div id="total_people_container">
            <% end %>
                  <%= f.label :total_people, "总人数（团体1～40，其他1～10，※包含代表人）" %> <i id="total_people_check"></i>
                  <%= f.number_field(
                        :total_people, :placeholder => 1, :class => 'form-control', :maxlength => "3", :min => 1, :max => 40, :autocomplete => "off",
                        :id => "totalPeople",
                        :onchange => "initClientTableFromTotalPeople()",
                        :oninput => "updateIconOnlyCheck('total_people_check', validateTotalPeople, 'total_people_container')",
                        :onfocus => "updateIconOnlyCheck('total_people_check', validateTotalPeople, 'total_people_container')",
                        :onblur => "initClientTableFromTotalPeople()"
                  ) %>
            </div>

            <!-- date arrival -->
            <div id="date_arrival_container">
                  <%= f.label :date_arrival, "日本入境日期" %> <i id="date_arrival_check"></i> <i class="fa fa-chevron-down long"></i>
                  <% dateArrival = "" %>
                  <% dateArrival = project.date_arrival.strftime("%Y/%m/%d") if(!project.date_arrival.nil?) %>
                  <%= f.text_field(
                        :date_arrival, :placeholder => (Date.today+1).strftime("%Y/%m/%d"), :class => 'form-control datepicker', :autocomplete => "off",
                        :id => "dateArrival",
                        :maxlength => "10",
                        :oninput => "updateIconOnlyCheck('date_arrival_check', validateDateArrival, 'date_arrival_container')",
                        :onfocus => "updateIconOnlyCheck('date_arrival_check', validateDateArrival, 'date_arrival_container')",
                        :onchange => "updateIcon('date_arrival_check', validateDateArrivalAndRegenerateSchedules, 'date_arrival_container')",
                        #:onblur => "updateIcon('date_arrival_check', validateDateArrivalAndRegenerateSchedules, 'date_arrival_container')",
                        :value => dateArrival,
                  ) %>
            </div>

            <!-- date leaving -->
            <div id="date_leaving_container">
                  <%= f.label :date_leaving, "日本出境日期" %> <i id="date_leaving_check"></i> <i class="fa fa-chevron-down long"></i>
                  <% dateLeaving = "" %>
                  <% dateLeaving = project.date_leaving.strftime("%Y/%m/%d") if(!project.date_leaving.nil?) %>
                  <%= f.text_field(
                        :date_leaving, :placeholder => (Date.today+1).strftime("%Y/%m/%d"), :class => 'form-control datepicker', :autocomplete => "off",
                        :id => "dateLeaving",
                        :maxlength => "10",
                        :oninput => "updateIconOnlyCheck('date_leaving_check', validateDateLeaving, 'date_leaving_container')",
                        :onfocus => "updateIconOnlyCheck('date_leaving_check', validateDateLeaving, 'date_leaving_container')",
                        :onchange => "updateIcon('date_leaving_check', validateDateLeavingAndRegenerateSchedules, 'date_leaving_container')",
                        #:onblur => "updateIcon('date_leaving_check', validateDateLeavingAndRegenerateSchedules, 'date_leaving_container')",
                        :value => dateLeaving,
                  ) %>
            </div>
      </div>


      <!--************************* clients ***************************-->
      <div id="clients_container" class="dashed_container col-md-12 col-sm-12 col-xs-12">
            <div class="title">
                  <i class="fa fa-list"></i> 名单 <span class="number" id="clients-total"><%= f.object.clients.length %></span> 人
            </div>
            <div id="excel_button" class="btn btn-default" data-toggle="modal" data-target="#modal-panel">+ Excel</div>

            <table class="table">
                  <tbody>
                        <%= f.fields_for :clients do |clients_field| %>
                        <tr id="client_<%= clients_field.index %>">
                              <td>
                                    <span class="index"><%= clients_field.index+1 %></span>
                                    <div id="clients_chinese_name_container_<%= clients_field.index %>" class="chinese_name_container">
                                          <%= clients_field.label :name_chinese, "中文名" %> <i id="clients_chinese_name_<%= clients_field.index %>"></i>
                                          <%= clients_field.text_field(
                                                :name_chinese, :autocomplete => "off",
                                                :class => "form-control",
                                                :placeholder => "王利",                                       
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_chinese_name_container_#{clients_field.index}', 'chinese_name_container', validateChineseNameById)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_chinese_name_container_#{clients_field.index}', 'chinese_name_container', validateChineseNameById)",                                          
                                                :onchange => "validateAndUpdateField('clients_chinese_name_container_#{clients_field.index}', 'chinese_name_container', validateAndReplaceChineseNameById)",
                                                :onblur => "validateAndUpdateField('clients_chinese_name_container_#{clients_field.index}', 'chinese_name_container', validateAndReplaceChineseNameById)",
                                                :maxlength => "5",
                                                ) %>
                                    </div>
                              </td>
                              <td class="col col-md-2 col-sm-2 col-xs-2">
                                    <div id="clients_english_name_container_<%= clients_field.index %>" class="english_name_container">
                                          <%= clients_field.label :name_english, "英文名" %> <i id="clients_english_name_<%= clients_field.index %>"></i>
                                          <%= clients_field.text_field(
                                                :name_english, :autocomplete => "off",
                                                :class => "form-control",
                                                :placeholder => "WANG LI",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_english_name_container_#{clients_field.index}', 'english_name_container', validateEnglishNameById)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_english_name_container_#{clients_field.index}', 'english_name_container', validateEnglishNameById)",
                                                :onchange => "validateAndUpdateField('clients_english_name_container_#{clients_field.index}', 'english_name_container', validateAndReplaceEnglishNameById)",
                                                :onblur => "validateAndUpdateField('clients_english_name_container_#{clients_field.index}', 'english_name_container', validateAndReplaceEnglishNameById)",
                                                :maxlength => "15",
                                          ) %>
                                    </div>
                              </td>
                              <td class="col col-xs-2">
                                    <div id="clients_gender_container_<%= clients_field.index %>" class="gender_container">
                                          <%= clients_field.label :gender, "性别" %> <i id="clients_gender_<%= clients_field.index %>"></i>
                                          <div class="form-group">
                                                <div id='gender_type_<%= clients_field.index %>' class="gender_type btn-group" data-toggle="buttons" onchange="validateAndUpdateField('clients_gender_container_<%= clients_field.index %>', 'gender_container', validateGender)">
                                                    <label class="btn btn-default <%= 'active' if(clients_field.object.gender == 'male') %>">
                                                        <input type="radio" autocomplete="off" value="male" name="project[clients_attributes][<%= clients_field.index %>][gender]" <%= 'checked' if(clients_field.object.gender == 'male') %>> 男 
                                                    </label>
                                                    <label class="btn btn-default <%= 'active' if(clients_field.object.gender == 'female') %>">
                                                        <input type="radio" autocomplete="off" value="female" name="project[clients_attributes][<%= clients_field.index %>][gender]" <%= 'checked' if(clients_field.object.gender == 'female') %>> 女 
                                                    </label>
                                                </div>
                                          </div>
                                    </div>
                              </td>
                              <td>
                                    <div id="clients_hometown_container_<%= clients_field.index %>" class="hometown_container">
                                          <%= clients_field.label :hometown, "居住区域" %> <i id="clients_hometown_<%= clients_field.index %>"></i>
                                          <%= clients_field.text_field(
                                                :hometown, :autocomplete => "off",
                                                :class => "form-control",
                                                :placeholder => "上海",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_hometown_container_#{clients_field.index}', 'hometown_container', validateHometown)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_hometown_container_#{clients_field.index}', 'hometown_container', validateHometown)",
                                                :onchange => "validateAndUpdateField('clients_hometown_container_#{clients_field.index}', 'hometown_container', validateAndReplaceHometown)",
                                                :onblur => "validateAndUpdateField('clients_hometown_container_#{clients_field.index}', 'hometown_container', validateAndReplaceHometown)",                                                                              
                                                :maxlength => "5",
                                          ) %>
                                    </div>
                              </td>

                              <td class="col col-sm-2 col-xs-2">
                                    <div id="clients_birthday_container_<%= clients_field.index %>"class="birthday_container">
                                          <%= clients_field.label :birthday, "出生日期" %> <i id="clients_birthday_<%= clients_field.index %>"></i> <!--<i class="fa fa-chevron-down long"></i>-->
                                          <% birthday = "" %>
                                          <% birthday = clients_field.object.birthday.strftime("%Y/%m/%d") if(!clients_field.object.birthday.nil?) %>
                                          <%= clients_field.text_field(
                                                :birthday, :placeholder => Date.new(1970, 1, 1).strftime("%Y/%m/%d"),
                                                :class => 'form-control datepicker birthdaypicker', :autocomplete => "off",
                                                :maxlength => "10",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_birthday_container_#{clients_field.index}', 'birthday_container', validateBirthday)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_birthday_container_#{clients_field.index}', 'birthday_container', validateBirthday)",
                                                :onchange => "validateAndUpdateField('clients_birthday_container_#{clients_field.index}', 'birthday_container', validateBirthday)",
                                                :onblur => "validateAndUpdateField('clients_birthday_container_#{clients_field.index}', 'birthday_container', validateBirthday)",
                                                :value => birthday,
                                          ) %>
                                    </div>
                              </td>

                              <td>
                                    <div id="clients_passport_no_container_<%= clients_field.index %>" class="passport_no_container">
                                          <%= clients_field.label :passport_no, "护照号" %> <i id="clients_passport_no_<%= clients_field.index %>"></i>
                                          <%= clients_field.text_field(
                                                :passport_no, :autocomplete => "off",
                                                :class => "form-control",
                                                :placeholder => "G17108928",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_passport_no_container_#{clients_field.index}', 'passport_no_container', validatePassportNo)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_passport_no_container_#{clients_field.index}', 'passport_no_container', validatePassportNo)",
                                                :onchange => "validateAndUpdateField('clients_passport_no_container_#{clients_field.index}', 'passport_no_container', validateAndReplacePassportNo)",                                                                              
                                                :onblur => "validateAndUpdateField('clients_passport_no_container_#{clients_field.index}', 'passport_no_container', validateAndReplacePassportNo)",
                                                :maxlength => "11",
                                          ) %>
                                    </div>
                              </td>

                              <td class="col col-md-1">
                                    <div id="clients_job_container_<%= clients_field.index %>" class="job_container">
                                          <%= clients_field.label :job, "职业" %> <i id="clients_job_<%= clients_field.index %>"></i><div class="remove_client" onclick="removeClientRow('client_<%= clients_field.index %>')">×</div>
                                          <%= clients_field.text_field(
                                                :job, :autocomplete => "off",
                                                :class => "form-control",
                                                :placeholder => "",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('clients_job_container_#{clients_field.index}', 'job_container', validateJob)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('clients_job_container_#{clients_field.index}', 'job_container', validateJob)",
                                                :onchange => "validateAndUpdateField('clients_job_container_#{clients_field.index}', 'job_container', validateAndReplaceJob)",
                                                :onblur => "validateAndUpdateField('clients_job_container_#{clients_field.index}', 'job_container', validateAndReplaceJob)",
                                                :maxlength => "5",
                                          ) %>
                                    </div>
                              </td>

                        </tr>
                        <% end %>
                  </tbody>
            </table>
            <i class="fa fa-plus-square-o fa-4x add_client" onclick="addClientRow()"></i>
      </div>

      <% if project.trader.validation_mode == "simplest" || project.trader.validation_mode == "easy" %>
            <div class="row">
                  <div id="show_schedules" class="col col-md-2 col-md-offset-5 btn btn-default" style="border-radius: 30px; margin-bottom: 30px;" onclick="showSchedulesContainer()">+ 详细日程表</div>
            </div>
      <% end %>

      <!--************************* schedules ***************************-->
      <% if project.trader.validation_mode == "strict" %>
            <div id="schedules_container" class="dashed_container col-md-10 col-md-offset-1" style="display:block">
      <% else %>
            <div id="schedules_container" class="dashed_container col-md-10 col-md-offset-1" style="display:none">
      <% end %>
            <div class="title">
                  <i class="fa fa-bus"></i> 日程表 共 <span class="number" id="schedules-total"><%= f.object.schedules.length %></span> 天
            </div>
            <!--<div id="excel_button2" class="btn btn-default" data-toggle="modal" data-target="#modal-panel2">+ Excel</div>-->

            <% if project.trader.validation_mode == "easy" %>
                  <!--<div id="undecided_button" class="btn btn-info" onclick="set_all_schedules_undetermined()">未定</div>-->
            <% end %>
 
            <table class="table">
                  <tbody>
                        <%= f.fields_for :schedules do |schedules_field| %>
                        <tr>
                              <td class="col col-md-2 col-sm-2 col-lg-2 col-xs-3 date">
                                    <span class="date-index"><%= schedules_field.index+1 %></span>
                                    <div id="schedules_date_container_<%= schedules_field.index %>" class="date_container">
                                          <%= schedules_field.label :date, "日期" %> <i id="schedules_date_<%= schedules_field.index %>"></i>
                                          <%= schedules_field.text_area(
                                                :date, :autocomplete => "off",
                                                :readonly => true,
                                                :class => "form-control datepicker",
                                                :onchange => "validateDatesAndUpdateIcon()",
                                                :maxlength => "25",
                                                :placeholder => Date.today.strftime('%Y/%m/%d') + "\r\n ( " + chinese_week_day(Date.today.wday) + " )",
                                          ) %>
                                    </div>
                              </td>
                              <td class="col col-md-6 col-sm-6 col-lg-6 col-xs-5">
                                    <div id="schedules_plan_container_<%= schedules_field.index %>" class="plan_container">
                                          <%= schedules_field.label :plan, "行动计划" %> <i id="schedules_plan_<%= schedules_field.index %>"></i>
                                          <%= schedules_field.text_area(
                                                :plan, :autocomplete => "off",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('schedules_plan_container_#{schedules_field.index}', 'plan_container', validatePlan)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('schedules_plan_container_#{schedules_field.index}', 'plan_container', validatePlan)",
                                                :onblur => "validateAndUpdateField('schedules_plan_container_#{schedules_field.index}', 'plan_container', validateAndReplacePlan)",
                                                :onchange => "validateAndUpdateField('schedules_plan_container_#{schedules_field.index}', 'plan_container', validateAndReplacePlan)",
                                                :class => "form-control",
                                                :maxlength => "200",
                                                :placeholder => "例 : 上海浦东からNH272便にて, 東京成田空港へ到着. 东京都内を観光.",
                                          ) %>
                                    </div>
                              </td>
                              <td class="col col-md-4 col-sm-4 col-lg-4 col-xs-4">
                                    <div id="schedules_hotel_container_<%= schedules_field.index %>" class="hotel_container">
                                          <%= schedules_field.label :hotel, "住宿" %> <i id="schedules_hotel_<%= schedules_field.index %>"></i>
                                          <%= schedules_field.text_area(
                                                :hotel, :autocomplete => "off",
                                                :oninput => "validateAndUpdateFieldOnlyCheck('schedules_hotel_container_#{schedules_field.index}', 'hotel_container', validateHotel)",
                                                :onfocus => "validateAndUpdateFieldOnlyCheck('schedules_hotel_container_#{schedules_field.index}', 'hotel_container', validateHotel)",
                                                :onblur => "validateAndUpdateField('schedules_hotel_container_#{schedules_field.index}', 'hotel_container', validateAndReplaceHotel)",
                                                :onchange => "validateAndUpdateField('schedules_hotel_container_#{schedules_field.index}', 'hotel_container', validateAndReplaceHotel)",
                                                :class => "form-control",
                                                :maxlength => "100",
                                                :placeholder => "例 : 〒106-0032 東京都港区六本木7丁目18−11 国际ホテル",
                                          ) %>
                                    </div>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>


      <!--************************* go back ***************************-->
      <% if project.trader.validation_mode == "strict" %>
            <div id="go_back_container" class="dashed_container col-md-10 col-md-offset-1" style="display:block">
      <% else %>
            <div id="go_back_container" class="dashed_container col-md-10 col-md-offset-1" style="display:none">
      <% end %>
            <div class="title">
                  <i class="fa fa-plane"></i> 回国航班
            </div>
            <div class="row">
                  <div class="col-md-2 col-sm-2 col-xs-2 cell">
                        <div id="flight_name_container">
                              <%= f.label :flight_name, "航班" %> <i id="flight_name_check"></i>
                              <%= f.text_field(
                                    :flight_name, :placeholder => "MU272", :class => 'form-control', :autocomplete => "off",
                                    :id => "flight_name",
                                    :maxlength => "10",
                                    :oninput => "updateIconOnlyCheck('flight_name_check', validateFlightName, 'flight_name_container')",
                                    :onfocus => "updateIconOnlyCheck('flight_name_check', validateFlightName, 'flight_name_container')",
                                    :onchange => "updateIcon('flight_name_check', validateAndReplaceFlightName, 'flight_name_container')",
                                    :onblur => "updateIcon('flight_name_check', validateAndReplaceFlightName, 'flight_name_container')",
                              ) %>
                        </div>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2 cell">
                        <div id="japan_airport_container">
                              <%= f.label :japan_airport, "出发地点" %> <i id="japan_airport_check"></i>
                              <%= f.text_field(
                                    :japan_airport, :placeholder => "成田", :class => 'form-control', :autocomplete => "off",
                                    :id => "japan_airport",
                                    :maxlength => "5",
                                    :oninput => "updateIconOnlyCheck('japan_airport_check', validateJapanAirport, 'japan_airport_container')",
                                    :onfocus => "updateIconOnlyCheck('japan_airport_check', validateJapanAirport, 'japan_airport_container')",
                                    :onchange => "updateIcon('japan_airport_check', validateAndReplaceJapanAirport, 'japan_airport_container')",
                                    :onblur => "updateIcon('japan_airport_check', validateAndReplaceJapanAirport, 'japan_airport_container')",
                              ) %>
                        </div>
                  </div>


                  <div class="col-md-3 col-sm-3 col-xs-3 cell">
                        <div id="departure_time_container">
                              <%= f.label :departure_time, "起飞时间" %> <i id="departure_time_check"></i><br/>
                              <%= f.time_select(
                                    :departure_time, 
                                    :autocomplete => "off",
                                    :id => "departure_time",
                                    :prompt => "---",
                                    :time_separator => ":",
                              ) %>
                        </div>
                  </div>


                  <div class="col-md-2 col-sm-2 col-xs-2 cell">
                        <div id="china_airport_container">
                              <%= f.label :china_airport, "到达地点" %> <i id="china_airport_check"></i>
                              <%= f.text_field(
                                    :china_airport, :placeholder => "上海", :class => 'form-control', :autocomplete => "off",
                                    :id => "china_airport",
                                    :maxlength => "5",
                                    :oninput => "updateIconOnlyCheck('china_airport_check', validateChinaAirport, 'china_airport_container')",
                                    :onfocus => "updateIconOnlyCheck('china_airport_check', validateChinaAirport, 'china_airport_container')",
                                    :onchange => "updateIcon('china_airport_check', validateAndReplaceChinaAirport, 'china_airport_container')",
                                    :onblur => "updateIcon('china_airport_check', validateAndReplaceChinaAirport, 'china_airport_container')",
                              ) %>
                        </div>
                  </div>

                  <div class="col-md-3 col-sm-3 col-xs-3 cell">
                        <div id="arrival_time_container">
                              <%= f.label :arrival_time, "到达时间" %> <i id="arrival_time_check"></i><br/>
                              <%= f.time_select(
                                    :arrival_time, 
                                    :autocomplete => "off",
                                    :id => "arrival_time",
                                    :prompt => "---",
                                    :time_separator => ":",
                              ) %>
                        </div>
                  </div>                  
            </div>
      </div>


      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
            <%= f.submit button_text, :class => "btn btn-lg btn-primary", :id => "send_button" %>
      </div>
<% end %>
      


<!-- *************************** alert form ***************************** -->
<div class="alert alert-danger alert-panel" id="failed-alert">
  <div class="title"><strong>对不起，未填写完毕，请再次确认.</strong></div><br/>
  <ul>
        <content>
        </content>
  <ul>
</div>




<!-- **************************** excel area ***************************** -->
<div class="modal fade" id="modal-panel" tabindex="-1">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5 class="modal-title" id="modal-label">您可以从Excel文件读取名单. 请打开Excel文件，选择全文后，复制与粘贴到此处.</h5>
            </div>


            <div class="modal-body">
                  <textarea id="excel_area" class="form-control" placeholder="李利&#009;&#009;LI LI&#009;&#009;男&#009;&#009;上海&#009;&#009;1950/1/1&#009;&#009;G171717171&#009;&#009;经理"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="parse-button">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- schedule modal panel -->
<!--
<div class="modal fade" id="modal-panel2" tabindex="-1">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h5 class="modal-title" id="modal-label">您可以从Excel文件读取行程表. 请打开Excel文件，选择全文后，复制与粘贴到此处.</h5>
            </div>


            <div class="modal-body">
                  <textarea id="excel_area2" class="form-control" placeholder="2016/01/01&#009;&#009;上海浦東からNH272便にて、成田へ到着。&#009;&#009;東京都港区品川3-1港ホテル"></textarea>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="parse-schedules-button">确定</button>
            </div>
        </div>
    </div>
</div>
-->


<% if is_admin? %>
      <div id="admin"></div>
<% end %>

<% if project.trader.validation_mode == "easy" %>
      <div id="easy_validation"></div>
<% elsif project.trader.validation_mode == "strict" %>
      <div id="strict_validation"></div>
<% elsif project.trader.validation_mode == "simplest" %>
      <div id="simplest_validation"></div>
<% end %>