<% unless project.id.nil? %>
  <tr id="<%= project.id %>" class="<%= project.status %>">


    <!-- ****************** visa info container ******************* -->
    <td class="col-md-5 col-sm-5 col-xs-5">
        <% if is_admin? %>
            <div class="origin-company-name-cell" style="cursor:pointer;" onclick="location.href='/traders/<%= project.trader.id %>'"><%= project.trader.company_name %>(<%= project.trader.person_name %>)</div>        
        <% end %>

        <div class="bg-primary company-name-cell"><%= project.china_company_name %></div>
        <div class="date-arrival-cell"><%= project.date_arrival.strftime("%Y/%m/%d") %>〜<%= project.date_leaving.strftime("%Y/%m/%d") %></div>
        <div class="visa-type-cell"><%= visa_type_str(project.visa_type) %></div>
        <div class="presentative-name-cell">代表人：<%= project.representative_name_chinese %> ( <%= project.representative_name_english %> ) 共<%= project.total_people %>名</div>
        <% if is_admin? %>
            <div class="created-cell small-gray-cell">更新：<%= project.updated_at.strftime("%Y/%m/%d %H:%M") %></div>
        <% end %>
        <% if project.system_code.present? %>
            <div class="created-cell small-gray-cell">受付编号：<%= project.system_code %></div>        
        <% end %>
    </td>



    <!-- ******************  status container ******************* -->
    <td class="col-md-3 col-sm-3 col-xs-3">
        <div class="status-cell <%= project.delete_request ? "requesting_delete": project.status %>">
            <%= project.delete_request ? "正在申请删除..." : status_type_str(project.status) %>
        </div>
        <div class="created-cell small-gray-cell">申请时间：<%= project.created_at.strftime("%Y/%m/%d %H:%M") %></div>

        <% if is_admin? || !is_project_disabled(project) %>
            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="window.open().location.href='/projects/<%= project.id %>.pdf'">身元保証</button>
                    <% if project.pdf.present? %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="window.open().location.href='<%= project.pdf.url %>'">帰国報告</button>
                    <% else %>
                        <div class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            帰国報告<p class="arrow_box">正在制作，我们需要1～2小时时间向中联协申请，请稍等。</p>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <!-- modify -->
                    <% if is_admin? || is_project_editable(project) %>
                        <button class="btn btn-primary btn-xs col-md-6 col-sm-6 col-xs-6" onclick="location.href='<%= edit_project_path(project) %>'">修改</button>
                    <% else %>
                        <div class="btn btn-primary btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            修改<p class="arrow_box">对不起，此签证已发送完毕，您已无法修改。<br/>请申请删除后，重新申请。我们会尽快帮您解决。</p>
                        </div>
                    <% end %>

                    <!-- delete -->
                    <% if is_admin? || is_project_deletable(project) %>
                        <button class="btn btn-danger btn-xs col-md-6 col-sm-6 col-xs-6" onclick="confirmDelete('<%= delete_request_path(project) %>')">申请删除</button>
                    <% else %>
                        <div class="btn btn-danger btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            删除<p class="arrow_box">对不起，此签证所有手续已办完，您已无法删除。<br/>请联系 <%= Constants::PHONE_FOR_CONTACT + " " + Constants::SELF_COMPANY_NAME %>。</p>
                        </div>                
                    <% end %>

                    <!-- modify -->
                    <% if is_admin? %>
                        <!--<button class="btn btn-success btn-xs col-md-6 col-sm-6 col-xs-6" onclick="location.href='<%= cancel_delete_request_path(project) %>'">回复</button>-->
                    <% end %>
                </div>
            </div>
        <% end %>


        <% if is_admin? %>
            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=uncommitted'">申请</button>
                    <!--<button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=waiting'">等待</button>-->                    
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=committed'">完了</button>
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=deleted'">无效</button>
                </div>
            </div>
        <% end %>
    </td>



    <!-- ****************** price and payment container ******************* -->
    <td class="col-md-2 col-sm-2 col-xs-2">
        <% if is_admin? || (project.delete_request == false && project.status != "deleted") %>
            <% if project.status == "deleted" || project.delete_request == true %>
                <div class="price-cell paid"><strike>¥0</strike></div>
            <% else %>
                <div class="price-cell <%= project.payment %>">¥<%= get_project_price(project) %> <%= payment_type_str(project.payment) %></div>
                <div class="small-gray-cell">期限：<span class="<%= project.payment %>"><%= get_payment_deadline(project).strftime("%Y/%m/%d") %></span></div>
            <% end %>
            <% if is_admin? %>
                <div class="row">
                    <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                        <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_payment?id=<%= project.id %>&amp;payment=unpaid'">未入金</button>
                        <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_payment?id=<%= project.id %>&amp;payment=paid'">已入金</button>
                    </div>
                </div>
            <% end %>
        <% end %>
    </td>



    <!-- ****************** back home container ******************* -->
    <td class="col-md-2 col-sm-2 col-xs-2">
        <% if is_admin? || (project.delete_request == false && project.status != "deleted")%>
            <% if is_admin? || Date.today > project.date_leaving %>
                <% if project.status == "deleted" || project.delete_request == true %>
                    <div class="confirmation-cell confirmed"><strike>回国报告</strike></div>
                <% else %>
                    <div class="confirmation-cell <%= project.confirmation %>"><%= confirmation_type_str(project.confirmation) %></div>
                    <div class="small-gray-cell">期限：<span class="<%= project.confirmation %>"><%= (project.date_leaving + 7).strftime("%Y/%m/%d") %></span></div>
                <% end %>
                <div class="btn-container">
                    <% if is_admin? %>
                        <div class="row">
                            <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                                <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_confirmation?id=<%= project.id %>&amp;confirmation=unconfirmed'">未確認</button>
                                <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_confirmation?id=<%= project.id %>&amp;confirmation=confirmed'">已確認</button>
                            </div>
                        </div>
                    <% elsif project.confirmation == "unconfirmed" %>
                        <a data-confirm="请用FAX传真回国报告后，选择OK。我们将会立即确认!" class="btn btn-xs btn-primary" href="/update_confirmation?id=<%= project.id %>&amp;confirmation=confirmed">立即发送</a>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </td>
  </tr>
<% end %>


