<% unless project.id.nil? %>
  <tr id="<%= project.id %>" class="<%= project.status %>">


    <!-- ****************** visa info container ******************* -->
    <td class="col-md-5 col-sm-5 col-xs-5">
        <% if is_admin? || has_authority? %>
            <div class="origin-company-name-cell" style="cursor:pointer;" onclick="location.href='/traders/<%= project.trader.id %>'"><%= project.trader.company_name %>(<%= project.trader.person_name %>)</div>        
        <% end %>

        <% if is_admin? and Constants::FAKE_ACCOUNT.include?(project.trader.id) %>
            <!-- 偽の会社名表示 -->
            <div class="bg-primary company-name-cell japan-sign" style="margin-bottom: 6px; cursor:pointer;" onclick="window.open('/projects/signature/281327')">
                日本 : ジェーティージー華信株式会社
        <% else %>
            <div class="bg-primary company-name-cell japan-sign" style="margin-bottom: 6px; cursor:pointer;" onclick="window.open('/projects/signature/<%= project.id %>')">
            日本 : <%= Constants::JAPAN_SIDE_COMPANY[project.japan_company.intern][:company_name] %>
        <% end %>
        </div>
        <div class="bg-primary company-name-cell">中国 : <%= project.china_company_name %></div>
        <div class="date-arrival-cell"><%= project.date_arrival.strftime("%Y/%m/%d") %>〜<%= project.date_leaving.strftime("%Y/%m/%d") %></div>
        <div class="visa-type-cell"><%= visa_type_str(project.visa_type) %></div>
        <div class="presentative-name-cell">代表人：<%= project.representative_name_chinese %> ( <%= project.representative_name_english %> ) 共<%= project.total_people %>名</div>

        <!-- copy -->
        <div style="margin-top: 5px;" id="copy_<%= project.id %>" class="btn btn-success btn-xs col-md-4 col-sm-4 col-xs-4 require-loading click_once copy" onclick="location.href='/projects/new?full_copy_target=<%= project.id %>'" style=""><i class="fa fa-user-plus"> </i> 复制</div>


        <!-- meta info -->
        <% if is_admin? %>
            <div class="created-cell small-gray-cell">（ No. <%= project.id %> ） 更新：<%= project.updated_at.strftime("%Y/%m/%d %H:%M") %></div>
        <% end %>
        <% if project.system_code.present? %>
            <div class="created-cell small-gray-cell">受付编号：<%= project.system_code %></div>        
        <% end %>
    </td>



    <!-- ******************  status container ******************* -->
    <% if is_admin? %>
        <td class="col-md-3 col-sm-3 col-xs-3">
    <% else %>
        <td class="col-md-4 col-sm-4 col-xs-4">
    <% end %>
        <div class="status-cell <%= project.delete_request ? "requesting_delete": project.status %>">
            <%= project.delete_request ? "正在申请删除..." : status_type_str(project.status) %>
        </div>
        <div class="created-cell small-gray-cell">申请时间：<%= project.created_at.strftime("%Y/%m/%d %H:%M") %></div>

        <% if is_admin? || !is_project_disabled(project) %>
            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <% if is_admin? and Constants::FAKE_ACCOUNT.include?(project.trader.id) %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="downloadPDF('/projects/281327.pdf', this)">招聘保証</button>

                    <% elsif is_admin? && project.has_full_schedule %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="downloadPDF('/projects/<%= project.id %>.pdf', this)" style="font-weight:bolder">　招聘保証<i class="fa fa-check"></i></button>                        
                    <% else %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="downloadPDF('/projects/<%= project.id %>.pdf', this)">招聘保証</button>
                    <% end %>

                    <% if is_admin? and Constants::FAKE_ACCOUNT.include?(project.trader.id) %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="window.open().location.href='/projects/281327/temporary_report.pdf'">帰国報告</button>
                    <% elsif project.pdf.present? %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="window.open().location.href='<%= project.pdf.url %>'">帰国報告</button>
                    <% elsif project.status == 'committed' %>
                        <button class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6" onclick="window.open().location.href='/projects/<%= project.id %>/temporary_report.pdf'">帰国報告</button>
                    <% else %>
                        <div class="btn btn-default btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            <!--
                            帰国報告<p class="arrow_box">正在制作，我们需要<%= current_trader.editable_min %>〜<%= current_trader.editable_min + 5 %>分钟工作时间<br/>向中联协申请，请稍后再次查看。</p>
                            -->
                            帰国報告<p class="arrow_box">正在制作，请<%= current_trader.editable_min %>分钟后再次查看。</p>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <!-- modify -->
                    <% if is_admin? || has_authority? || is_project_editable(project) %>
                        <button class="btn btn-primary btn-xs col-md-6 col-sm-6 col-xs-6 modify" onclick="location.href='<%= edit_project_path(project) %>'">修改</button>
                    <% else %>
                        <div class="btn btn-primary btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            修改<p class="arrow_box">此签证已无法修改。若有错误，<br/>请选择『申请删除』后，重新申请。</p>
                        </div>
                    <% end %>

                    <!-- delete -->
                    <% if is_admin? || has_authority? || is_project_deletable(project) %>
                        <button class="btn btn-danger btn-xs col-md-6 col-sm-6 col-xs-6" onclick="confirmDelete('<%= delete_request_path(project) %>')">申请删除</button>
                    <% else %>
                        <div class="btn btn-danger btn-xs col-md-6 col-sm-6 col-xs-6 disabled-modify" disabled="disabled">
                            删除<p class="arrow_box">对不起，此签证所有手续已办完，您已无法删除。<br/><!--请联系 <%= Constants::PHONE_FOR_CONTACT + " " + Constants::SELF_COMPANY_NAME %>。</p>-->
                        </div>                
                    <% end %>

                    <!-- modify -->
                    <% if is_admin? %>
                        <!--<button class="btn btn-success btn-xs col-md-6 col-sm-6 col-xs-6" onclick="location.href='<%= cancel_delete_request_path(project) %>'">回复</button>-->
                    <% end %>
                </div>
            </div>
        <% end %>


        <% if is_admin? %>
            <div class="row">
                <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=uncommitted'">申请</button>
                    <!--<button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=waiting'">等待</button>-->                    
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="commitProject(<%= project.id %>)">完了</button>
                    <button class="btn btn-default btn-xs col-md-4 col-sm-4 col-xs-4" onclick="location.href='/update_status?id=<%= project.id %>&amp;status=deleted'">无效</button>
                </div>
            </div>
        <% end %>
    </td>



    <!-- ****************** price and payment container ******************* -->
    <% if is_admin? %>
        <td class="col-md-2 col-sm-2 col-xs-2">
            <% if is_admin? || (project.delete_request == false && project.status != "deleted") %>
                <% if project.status == "deleted" || project.delete_request == true %>
                    <div class="price-cell paid"><strike>¥0</strike></div>
                <% else %>
                    <div class="price-cell <%= project.payment %>">¥<%= get_project_price(project) %> <%= payment_type_str(project.payment) %></div>
                    <div class="small-gray-cell">期限：<span class="<%= project.payment %>"><%= get_payment_deadline(project).strftime("%Y/%m/%d") %></span></div>
                <% end %>
                <% if is_admin? %>
                    <div class="row">
                        <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                            <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_payment?id=<%= project.id %>&amp;payment=unpaid'">未入金</button>
                            <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_payment?id=<%= project.id %>&amp;payment=paid'">已入金</button>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </td>
    <% end %>



    <!-- ****************** back home container ******************* -->
    <% if is_admin? %>
        <td class="col-md-2 col-sm-2 col-xs-2">
    <% else %>
        <td class="col-md-3 col-sm-3 col-xs-3">
    <% end %>
        <% if is_admin? || (project.delete_request == false && project.status != "deleted")%>
            <% if is_admin? || Date.today > project.date_leaving %>
                <% if project.status == "deleted" || project.delete_request == true %>
                    <div class="confirmation-cell confirmed"><strike>回国报告</strike></div>
                <% else %>
                    <div class="confirmation-cell <%= project.confirmation %>"><%= confirmation_type_str(project.confirmation) %></div>
                    <div class="small-gray-cell">期限：<span class="<%= project.confirmation %>"><%= (project.date_leaving + 3).strftime("%Y/%m/%d") %></span></div>
                    <% if (!is_admin? && Date.today > (project.date_leaving+3)) %>
                        <div class="unconfirmed_alarm"></div>
                    <% end %>
                <% end %>
                <div class="btn-container">
                    <% if is_admin? %>
                        <div class="row">
                            <div class="btn-group col-md-12 col-sm-12 col-xs-12"  data-toggle="buttons">
                                <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_confirmation?id=<%= project.id %>&amp;confirmation=unconfirmed'">未確認</button>
                                <button class="btn btn-xs col-sm-6 col-md-6 col-xs-6 btn-default" onclick="location.href='/update_confirmation?id=<%= project.id %>&amp;confirmation=confirmed'">已確認</button>
                            </div>
                        </div>
                    <% elsif project.confirmation == "unconfirmed" %>
                        <a data-confirm="请联系客人，确认客人已回国后，选择OK。" class="btn btn-xs btn-primary" href="/update_confirmation?id=<%= project.id %>&amp;confirmation=confirmed">以确认</a>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </td>
  </tr>
<% end %>


