<h1>
  <i class="fa fa-users"></i> 
  <% if is_admin? %>
    所有电签
  <% else %>
    签证主页
  <% end %>
</h1>
<!--
<div style="position: absolute; margin-top: -110px;  right:20px; width: 230px; height:155px; border: solid 2px gray; border-radius: 20px; color:gray">
  <div style="text-align:center; padding:8px; font-size:1.1em;">価格表</div>
  <ul style="list-style:none; font-size:0.8em;">
    <li>个人签证 : <%= current_trader.indivisual_price %> ¥ / 人</li>
    <li>３年多次 : <%= current_trader.year_3_price %> ¥ / 人</li>
    <li>５年多次 : <%= current_trader.year_5_price %> ¥ / 人</li>
    <li>团体签证 (11〜20人) : <%= current_trader.group_price_11_20 %> ¥</li>
    <li>团体签证 (21〜30人) : <%= current_trader.group_price_21_30 %> ¥</li>
    <li>团体签证 (31〜40人) : <%= current_trader.group_price_31_40 %> ¥</li>
  </ul>
</div>
-->

<div class="row">
  <div class="container col-md-10 col-md-offset-1">
    <% if is_admin? || @projects.any? %>
      <table class="project-info table">
        <caption>

          <% if is_admin? %>
            <div class="row" style="text-align:center"><h3>所有的签证 （ 查询结果：<%= @projects.length %>件 ）<h3></div>
            <div class="row" style="text-align:center">
              <form action="/projects/index" accept-charset="UTF-8" method="get">
                <%= render "/shared/search_form" %>
              </form>
            </div>
          <% end %>

          <div style="text-align:center; height:60px;">
            <a href="/projects/new" style="position:absolute; left:20px; margin-top:20px;" class="btn btn-success btn-large require-loading" id="new-project">
              <i class="fa fa-user-plus"></i> 申请
            </a>
            <%= paginate @projects, :window => 5 %>
          </div>
        </caption>
        <thead>
          <tr>
            <th>签证资料</th>
            <th>状态</th>
            <% if is_admin? %>
              <th>价格</th>
            <% end %>
            <th>回国确认</th>
          </tr>
        </thead>
        <tbody>
          <%= render @projects %>
        </tbody>
      </table>
    <% else %>
        <a href="/projects/new" class="btn btn-success btn-large" id="new-project">
          <i class="fa fa-user-plus"></i> 新建
        </a>    
    <% end %>
  </div>
</div>