<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">

      <section class="trader_info">
        <%= render 'shared/trader_info' %>
      </section>

      <section class="project_form">
        <%= render 'shared/project_form' %>
      </section>

    </aside>
    <div class="container col-md-9">
      <% if @projects.any? %>
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th>中方旅行社(<%= @projects.count %>)</th>
              <th>代表者名</th>
              <th>人数</th>
              <th>入境日期</th>
              <th>申请状态</th>
              <th>登录日期</th>
            </tr>
          </thead>

          <tbody>
            <%= render @projects %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Log in to edit visa</h1>
    <%= link_to "Log in", login_path, :class => "btn btn-lg btn-primary" %>
  </div>
<% end %>