<%= favicon_link_tag '/ico.png' %>
<% company_info = Constants::JAPAN_SIDE_COMPANY[@project.japan_company.intern] %>


<%= favicon_link_tag '/ico.png' %>

<% if @guarantee_mode == "full" %>
<!-- ********************* 招聘保証 ********************** -->
<div style="text-align:right;">
  登録番号 <%= company_info[:code] %><br/>
  <span style="border-bottom: 1px solid black; display:inline-block; padding-top:5px;"><%= Date.today.to_era(" %O %E 年 %m 月 %d 日 ") %></span>
</div>
<div style="font-weight: bold; font-size: 20px;">外務大臣殿</div>
<div style="font-weight: bold; font-size: 27px; text-align:center; padding: 20px;">招聘保証書</div>
<table style="border: none; width: 40%">
  <caption style="text-align:left;"><b>査証申請人 : </b></caption>
  <tr>
    <td style="padding:0">氏名</td>
    <td style="padding:0"><span style="border-bottom: 1px solid black"><%= @project.representative_name_chinese %></span> 他 <span style="border-bottom: 1px solid black"><%= @project.clients.length - 1 %></span> 名 </td>
  </tr>
  <tr>
    <td style="padding:0">国籍</td>
    <td style="padding:0">中華人民共和国</td>
  </tr>
</table>

<table style="border: none; width: 100%">
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; font-size:17px;" colspan="2"><b>保 証 会 社 :</b></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%">会 社</td>
    <td style="padding:0;"><%= replace_parenthesis(company_info[:company_name]) %></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%"></td>
    <td style="padding:0;">代表取締役社長 <%= company_info[:chief] %></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%">住 所</td>
    <td style="padding:0;"><%= company_info[:address_1] %></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%"></td>
    <td style="padding:0;"><%= company_info[:address_2] %></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%">担当者</td>
    <td style="padding:0;"><%= company_info[:chief] %></td>
  </tr>
  <tr>
    <td style="width:40%"></td>
    <td style="padding:0; width:15%"></td>
    <td style="padding:0;">TEL  <%= company_info[:phone] %></td>
  </tr>
</table>
<br/>

<table style="border: none; width: 100%; font-size:14px;">
  <tr>
    <td rowspan="1" style="width:6%">1. </td>
    <td colspan="2">当社は, <span style="border-bottom: 1px solid black"><%= replace_parenthesis(@visa_company[0].name) %></span>との契約に基づき, 別紙査証申請人名簿に記載した中華人民共和国国民による訪日団体観光旅行を行うに当たり, 次のとおりその身元を引き受けます.</td>
  </tr>
  <tr>
    <td rowspan="6"></td>
    <td style="padding:0; width:10%">（１）</td>
    <td style="padding:5px;">本邦滞在中, 日本国法令を遵守させること.</td>
  </tr>
  <tr>
    <td style="padding:0; width:10%">（２）</td>
    <td style="padding:5px;">事前に提出した滞在予定を厳守し, やむを得ず予定を変更する場合, 遅滞なくその旨を関係機関に報告すること.</td>
  </tr>
  <tr>
    <td style="padding:0; width:10%">（３）</td>
    <td style="padding:5px;">本邦滞在中の全行程に日本側添乗員を同行させ, 適宜点呼を取るなどして問題発生の防止に努めること.</td>
  </tr>
  <tr>
    <td style="padding:0; width:10%">（４）</td>
    <td style="padding:5px;">要請のあった場合又は問題が発生した場合は, 本邦における在留状況その他の事項を関係省庁に遅滞なく報告すること.</td>
  </tr>
  <tr>
    <td style="padding:0; width:10%">（５）</td>
    <td style="padding:5px;">不法滞在その他の問題が発生した場合において, 旅行参加者が帰国のための旅費を支払わない又は直ちに支払えない時は, 当該旅費を一時的に立て整えること. </td>
  </tr>
  <tr>
    <td style="padding:0; width:10%">（６）</td>
    <td style="padding:5px;">参加者全員の帰国後, 速やかにその旨を報告すること.</td>
  </tr>  
  <tr>
    <td rowspan="1" style="width:6%">2. </td>
    <td colspan="2">申請人の入国理由</td>
  </tr>
  <tr>
    <td></td>
    <td style="padding:5px;" colspan="2">観光旅行 ( <span style="border-bottom: 1px solid black"><%= visa_type_str(@project.visa_type) %></span> ) </td>
  </tr>  
  <tr>
    <td></td>
    <td style="padding:5px;" colspan="2">日　程 ( <span style="border-bottom: 1px solid black"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>から<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span> ) </td>
  </tr>  
  <tr>
    <td rowspan="1" style="width:6%">3. </td>
    <td colspan="2">滞在日程は別紙記載のとおり.</td>
  </tr>
</table>
<% end %>




<!--*********************** 身元保証 ************************-->
<div class="head" style="page-break-before: always">招聘保証書</div>
<table id="project">
  <caption>
    <div class="representative">
      <span class="text"><%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 (男<%= @project.total_man %> / 女<%= @project.total_woman %>)</span>
    </div>
    <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
  </caption>

  <tr>
    <td class="title" rowspan="2">中連協会員旅行会社名</td>
    <td class="name-title">会社名</td>
    <td class="content"><%= replace_parenthesis(company_info[:company_name]) %></td>
  </tr>
  <tr>
    <td class="name-title">指定番号</td>
    <td class="name-content"><%= company_info[:code] %></td>
  </tr>
  <tr>
    <td class="title" rowspan="3">中国側旅行会社名</td>
    <td class="name-title">会社名</td>
    <td class="name-content"><%= replace_parenthesis(@visa_company[0].name) %></td>
  </tr>
  <tr>
    <td class="name-title">指定番号</td>
    <td class="name-content"><%= @visa_company[0].code %></td>
  </tr>
  <tr>
    <td class="name-title">管轄公館</td>
    <td class="content"><%= @visa_company[0].locate %></td>
  </tr>
  <tr>
    <td class="title">査証種別</td>
    <td class="content" colspan="2"><%= visa_type_str(@project.visa_type) %></td>
  </tr>
  <tr>
    <td class="title" rowspan="2">査証申請人(代表)氏名</td>
    <td class="name-tile">简体字</td>
    <td class="name-content"><%= @project.representative_name_chinese %></td>
  </tr>
  <tr>
    <td class="name-title">ピンイン</td>
    <td class="name-content"><%= @project.representative_name_english %></td>
  </tr>
  <tr>
    <td class="title">代表者を除く申請人数</td>
    <td class="content" colspan="2"><%= @project.clients.length - 1 %>名</td>
  </tr>
  <tr>
    <td class="title">日本入国予定日</td>
    <td class="content" colspan="2"><%= @project.date_arrival.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <td class="title">日本出国予定日</td>
    <td class="content" colspan="2"><%= @project.date_leaving.strftime("%Y年%m月%d日") %></td>
  </tr>
</table>
<div class="visa-company" style="margin-top: 30px;">
</div>


<!--*********************** サイン ************************-->
<div class="signature">
  <div class="text">
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= replace_parenthesis(company_info[:company_name]) %></div>
    <div class="person-name">担当者 : <%= company_info[:chief] %></div>
    <div class="phone">電　話 : <%= company_info[:phone] %></div>
  </div>
  <% if current_trader.work_mode == "auto" || (current_trader.work_mode == "manual" && @project.status == "committed") %>
    <%= image_tag(::Rails.root.join('public',  Random.rand(3).to_s + "_" + company_info[:signature_1]), :class => "signature1", :style => "right:" + (180+rand(0..20)).to_s + "px; margin-top:" + (rand(0..30)-110).to_s + "px;") %>
    <%= image_tag(::Rails.root.join('public',  Random.rand(3).to_s + "_" + company_info[:signature_2]), :class => "signature2", :style => "right:" + (30+rand(0..40)).to_s + "px; margin-top:" + (rand(0..20)-120).to_s + "px;") %>
  <% end %>
</div>

<!--*********************** スケジュール ************************-->
<% schedules_length = @project.schedules.length %>
<% if schedules_length <= 12 %>
  <table class="schedules" style="page-break-before:always; margin-top: 170px;">
    <caption>
      <div class="title">滞在予定表</div>
      <div class="representative" style="text-align:right; font-size:0.9em;">
        <span class="text"><%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 (男<%= @project.total_man %> / 女<%= @project.total_woman %>)</span>
      </div>

      <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
    </caption>

    <thead>
      <tr>
        <th class="date">年　月　日</th>
        <th class="plan">行　動　予　定</th>
        <th class="hotel">宿　泊　先</th>
      </tr>
    </thead>
    <tbody>
      <% @project.schedules.each_with_index do |schedule, index| %>
        <tr>
          <td class="date"><%= schedule.date.strftime("%Y-%m-%d") %></td>
          <td class="plan"><%= schedule.plan.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
          <td class="hotel"><%= schedule.hotel.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <!-- head table -->
  <table class="schedules" style="page-break-before:always; page-break-after:always; margin-top: 170px;">
    <caption>
      <div class="title">滞在予定表</div>
      <div class="representative" style="text-align:right; font-size:0.9em;">
        <span class="text"><%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 (男<%= @project.total_man %> / 女<%= @project.total_woman %>)</span>
      </div>
      <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
    </caption>
    <thead>
      <tr>
        <th class="date">年　月　日</th>
        <th class="plan">行　動　予　定</th>
        <th class="hotel">宿　泊　先</th>
      </tr>
    </thead>
    <tbody>
      <% for index in 0..11 do %>
        <% schedule = @project.schedules[index] %>
        <tr>
          <td class="date"><%= schedule.date.strftime("%Y-%m-%d") %></td>
          <td class="plan"><%= schedule.plan.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
          <td class="hotel"><%= schedule.hotel.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- body table -->
  <% body_cnt = ((schedules_length-12) / 15).to_i %>
  <% index = 11 %>
  <% body_cnt.times do %>
    <table class="schedules" style="page-break-after:always">
      <tbody>
        <% 15.times do %>
          <% index += 1 %>
          <% schedule = @project.schedules[index] %>
          <tr>
            <td class="date"><%= schedule.date.strftime("%Y-%m-%d") %></td>
            <td class="plan"><%= schedule.plan.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
            <td class="hotel"><%= schedule.hotel.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <!-- tail table -->
  <table class="schedules">
    <tbody>
      <% first = index+1 %>
      <% for index in first..schedules_length-1 do %>
        <% schedule = @project.schedules[index] %>
        <tr>
          <td class="date"><%= schedule.date.strftime("%Y-%m-%d") %></td>
          <td class="plan"><%= schedule.plan.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
          <td class="hotel"><%= schedule.hotel.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<!--*********************** サイン ************************-->
<% if 15-((schedules_length-12)%15) >= 2 %>
  <div class="signature" style="padding-top:20px;">
<% else %>
  <div class="signature" style="page-break-before:always; padding-top:20px;">
<% end %>
  <div class="text">
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= replace_parenthesis(company_info[:company_name]) %></div>
    <div class="person-name">担当者 : <%= company_info[:chief] %></div>
    <div class="phone">電　話 : <%= company_info[:phone] %></div>
  </div>
  <% if current_trader.work_mode == "auto" || (current_trader.work_mode == "manual" && @project.status == "committed") %>
    <%= image_tag(::Rails.root.join('public',  Random.rand(3).to_s + "_" + company_info[:signature_1]), :class => "signature1", :style => "right:" + (180+rand(0..20)).to_s + "px; margin-top:" + (rand(0..30)-110).to_s + "px;") %>
    <%= image_tag(::Rails.root.join('public',  Random.rand(3).to_s + "_" + company_info[:signature_2]), :class => "signature2", :style => "right:" + (30+rand(0..40)).to_s + "px; margin-top:" + (rand(0..20)-120).to_s + "px;") %>
  <% end %>
</div>

<!--*********************** 顧客リスト ************************-->
<% clients_length = @project.clients.length %>
<% if clients_length <= 23 %>
  <table class="clients"  style="page-break-before: always; margin-top: 170px;">
    <caption>
      <div class="title">査証申請人名簿</div>
      <div class="representative">
        <span class="text"><%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 (男<%= @project.total_man %> / 女<%= @project.total_woman %>)</span>
      </div>
      <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
    </caption>
    <thead>
      <tr>
        <th class="no">番号</th>
        <th class="chinese-name">氏名(中文)</th>
        <th class="english-name">氏名(英文)</th>
        <th class="gender">性別</th>
        <th class="birthday">生年月日</th>
        <th class="hometown">居住地域</th>
        <th class="passport-no">旅券番号</th>
        <th class="visa-type">职业</th>
      </tr>
    </thead>
    <tbody>
      <% @project.clients.each_with_index do |client, index| %>
        <tr>
          <td class="no"><%= index + 1 %></td>
          <td class="chinese-name"><%= client.name_chinese %></td>
          <td class="english-name"><%= client.name_english %></td>
          <td class="gender"><%= gender_str(client.gender) %></td>
          <td class="birthday"><%= client.birthday.strftime("%Y-%m-%d") %></td>
          <td class="hometown"><%= client.hometown %></t>
          <td class="passport-no"><%= client.passport_no %></td>
          <td class="visa-type"><%= client.job %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <!-- head table -->
  <table class="clients"  style="page-break-before: always; margin-top: 170px; page-break-after: always;">
    <caption>
      <div class="title">査証申請人名簿</div>
      <div class="representative">
        <span class="text"><%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 (男<%= @project.total_man %> / 女<%= @project.total_woman %>)</span>
      </div>
      <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
    </caption>
    <thead>
      <tr>
        <th class="no">番号</th>
        <th class="chinese-name">氏名(中文)</th>
        <th class="english-name">氏名(英文)</th>
        <th class="gender">性別</th>
        <th class="birthday">生年月日</th>
        <th class="hometown">居住地域</th>
        <th class="passport-no">旅券番号</th>
        <th class="visa-type">职业</th>
      </tr>
    </thead>
    <tbody>
      <% for index in 0..22 do %>
      <% client = @project.clients[index] %>
        <tr>
          <td class="no"><%= index + 1 %></td>
          <td class="chinese-name"><%= client.name_chinese %></td>
          <td class="english-name"><%= client.name_english %></td>
          <td class="gender"><%= gender_str(client.gender) %></td>
          <td class="birthday"><%= client.birthday.strftime("%Y-%m-%d") %></td>
          <td class="hometown"><%= client.hometown %></t>
          <td class="passport-no"><%= client.passport_no %></td>
          <td class="visa-type"><%= client.job %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- body table -->
  <% body_cnt = ((clients_length-23) / 28).to_i %>
  <% index = 22 %>
  <% body_cnt.times do %>
    <table class="clients" style="page-break-after: always;">
      <tbody>
        <% 28.times do %>
        <% index += 1 %>
        <% client = @project.clients[index] %>
          <tr>
            <td class="no"><%= index + 1 %></td>
            <td class="chinese-name"><%= client.name_chinese %></td>
            <td class="english-name"><%= client.name_english %></td>
            <td class="gender"><%= gender_str(client.gender) %></td>
            <td class="birthday"><%= client.birthday.strftime("%Y-%m-%d") %></td>
            <td class="hometown"><%= client.hometown %></t>
            <td class="passport-no"><%= client.passport_no %></td>
            <td class="visa-type"><%= client.job %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <!-- tail table -->
  <table class="clients">
    <tbody>
      <% first = index+1 %>
      <% for index in first..clients_length-1 do %>
        <% client = @project.clients[index] %>
        <tr>
          <td class="no"><%= index + 1 %></td>
          <td class="chinese-name"><%= client.name_chinese %></td>
          <td class="english-name"><%= client.name_english %></td>
          <td class="gender"><%= gender_str(client.gender) %></td>
          <td class="birthday"><%= client.birthday.strftime("%Y-%m-%d") %></td>
          <td class="hometown"><%= client.hometown %></t>
          <td class="passport-no"><%= client.passport_no %></td>
          <td class="visa-type"><%= client.job %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<!--*********************** サイン ************************-->
<% if 28-((clients_length-23)%28) >= 4 %>
  <div class="signature" style="padding-top:20px;">
<% else %>
  <div class="signature" style="page-break-before:always; padding-top:20px;">
  <% splitted = true %>
<% end %>
  <div class="text">
    <% if splitted %>
      内　容 : <%= @project.representative_name_chinese %>, 他<%= @project.clients.length - 1 %>名 
      (男<%= @project.total_man %> / 女<%= @project.total_woman %>)
    <% end %>
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= replace_parenthesis(company_info[:company_name]) %></div>
    <div class="person-name">担当者 : <%= company_info[:chief] %></div>
    <div class="phone">電　話 : <%= company_info[:phone] %></div>
  </div>
  <% if current_trader.work_mode == "auto" || (current_trader.work_mode == "manual" && @project.status == "committed") %>
    <%= image_tag(::Rails.root.join('public', Random.rand(3).to_s + "_" + company_info[:signature_1]), :class => "signature1", :style => "right:" + (180+rand(0..20)).to_s + "px; margin-top:" + (rand(0..20)-110).to_s + "px;") %>
    <%= image_tag(::Rails.root.join('public', Random.rand(3).to_s + "_" +  company_info[:signature_2]), :class => "signature2", :style => "right:" + (30+rand(0..40)).to_s + "px; margin-top:" + (rand(0..20)-120).to_s + "px;") %>
  <% end %>
</div>
