<%= favicon_link_tag '/ico.png' %>

<div class="head">身元保証書</div>

<!--*********************** 身元保証 ************************-->
<table id="project">
  <caption>
    <div class="representative">(<span class="text"><%= @project.representative_name_chinese %>他<%= @project.clients.length - 1 %>名</span>)</div>
    <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
  </caption>

  <tr>
    <td class="title" rowspan="2">中連協会員旅行会社名</td>
    <td class="name-title">会社名</td>
    <td class="content"><%= Constants::JAPAN_SIDE_COMPANY %></td>
  </tr>
  <tr>
    <td class="name-title">指定番号</td>
    <td class="name-content"><%= Constants::JAPAN_SIDE_CODE %></td>
  </tr>
  <tr>
    <td class="title" rowspan="3">中国側旅行会社名</td>
    <td class="name-title">会社名</td>
    <td class="name-content"><%= @visa_company[0].name %></td>
  </tr>
  <tr>
    <td class="name-title">指定番号</td>
    <td class="name-content"><%= @visa_company[0].code %></td>
  </tr>
  <tr>
    <td class="name-title">管轄公館</td>
    <td class="content"><%= @visa_company[0].locate %></td>
  </tr>
  <tr>
    <td class="title">査証種別</td>
    <td class="content" colspan="2"><%= visa_type_str(@project.visa_type) %></td>
  </tr>
  <tr>
    <td class="title" rowspan="2">査証申請人(代表)氏名</td>
    <td class="name-tile">简体字</td>
    <td class="name-content"><%= @project.representative_name_chinese %></td>
  </tr>
  <tr>
    <td class="name-title">ピンイン</td>
    <td class="name-content"><%= @project.representative_name_english %></td>
  </tr>
  <tr>
    <td class="title">代表者を除く申請人数</td>
    <td class="content" colspan="2"><%= @project.clients.length - 1 %>名</td>
  </tr>
  <tr>
    <td class="title">日本入国予定日</td>
    <td class="content" colspan="2"><%= @project.date_arrival.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <td class="title">日本出国予定日</td>
    <td class="content" colspan="2"><%= @project.date_leaving.strftime("%Y年%m月%d日") %></td>
  </tr>
</table>


<!--*********************** 送签社 ************************-->
<div class="visa-company">
  <div class="company-name">会社名　: <%= @visa_company[0].name %><span style="color:white;">.</span></div>
  <div class="company-code">送签社号:  <%= @visa_company[0].code %></div>
  <div class="person-name">担当者　: <%= @project.in_charge_person %></div>
  <div class="phone">電　話　: <%= @project.in_charge_phone %></div>
</div>


<!--*********************** サイン ************************-->
<div class="signature">
  <div class="text">
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= Constants::JAPAN_SIDE_COMPANY %></div>
    <div class="person-name">担当者 : <%= Constants::JAPAN_SIDE_CHIEF %></div>
    <div class="phone">電　話 : <%= Constants::JAPAN_SIDE_PHONE %></div>
  </div>
  <%= image_tag(::Rails.root.join('public', Constants::JAPAN_SIDE_SIGNATURE)) %>
</div>



<!--*********************** スケジュール ************************-->
<table id="schedules">
  <caption>
    <div class="title">滞在予定表</div>
    <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>
  </caption>

  <thead>
    <tr>
      <th class="date">年　月　日</th>
      <th class="plan">行　動　予　定</th>
      <th class="hotel">宿　泊　先</th>
    </tr>
  </thead>

  <tbody>
    <% @project.schedules.each_with_index do |schedule, index| %>
      <tr>
        <td class="date"><%= schedule.date.strftime("%Y-%m-%d") %></td>
        <td class="plan"><%= schedule.plan.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
        <td class="hotel"><%= schedule.hotel.gsub("。", ".").gsub(/[、，]/, ",").gsub("（", "(").gsub("）", ")") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--*********************** 送签社 ************************-->
<div class="visa-company">
  <div class="company-name">会社名　: <%= @visa_company[0].name %>
  <div class="company-code">送签社号:  <%= @visa_company[0].code %></div>
  <div class="person-name">担当者　: <%= @project.in_charge_person %></div>
  <div class="phone">電　話　: <%= @project.in_charge_phone %></div>
</div>

<!--*********************** サイン ************************-->
<div class="signature">
  <div class="text">
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= Constants::JAPAN_SIDE_COMPANY %></div>
    <div class="person-name">担当者 : <%= Constants::JAPAN_SIDE_CHIEF %></div>
    <div class="phone">電　話 : <%= Constants::JAPAN_SIDE_PHONE %></div>
  </div>
  <%= image_tag(::Rails.root.join('public', Constants::JAPAN_SIDE_SIGNATURE)) %>
</div>



<!--*********************** 顧客リスト ************************-->
<table id="clients">
  <caption>
    <div class="title">査証申請人名簿</div>
    <div class="representative">(<span class="text"><%= @project.representative_name_chinese %>他<%= @project.clients.length - 1 %>名</span>)</div>
    <div class="title-date">(<span class="text"><%= @project.date_arrival.to_era("%O%E年%m月%d日") %>〜<%= @project.date_leaving.to_era("%O%E年%m月%d日") %></span>)</div>

  </caption>
  <thead>
    <tr>
      <th class="no">番号</th>
      <th class="chinese-name">氏名(中文)</th>
      <th class="english-name">氏名(英文)</th>
      <th class="gender">性別</th>
      <th class="birthday">生年月日</th>
      <th class="hometown">発行地</th>
      <th class="visa-type">種類</th>
      <th class="passport-no">PAPT番号</th>
    </tr>
  </thead>

  <tbody>
    <% @project.clients.each_with_index do |client, index| %>
      <tr>
        <td class="no"><%= index + 1 %></td>
        <td class="chinese-name"><%= client.name_chinese %></td>
        <td class="english-name"><%= client.name_english %></td>
        <td class="gender"><%= gender_str(client.gender) %></td>
        <td class="birthday"><%= client.birthday.strftime("%Y-%m-%d") %></td>
        <td class="hometown"><%= client.hometown %></t>
        <td class="visa-type">普通</td>
        <td class="passport-no"><%= client.passport_no %></td>
      </tr>
    <% end %>
  </tbody>

  <tbody>
  </tbody>
</table>


<!--*********************** 送签社 ************************-->
<div class="visa-company">
  <div class="company-name">会社名　: <%= @visa_company[0].name %></div>
  <div class="company-code">送签社号:  <%= @visa_company[0].code %></div>
  <div class="person-name">担当者　: <%= @project.in_charge_person %></div>
  <div class="phone">電　話　: <%= @project.in_charge_phone %></div>
</div>

<!--*********************** サイン ************************-->
<div class="signature">
  <div class="text">
    <div class="phone">日　付 : <%= @project.updated_at.strftime("%Y年%m月%d日") %></div>
    <div class="company-name">会社名 : <%= Constants::JAPAN_SIDE_COMPANY %></div>
    <div class="person-name">担当者 : <%= Constants::JAPAN_SIDE_CHIEF %></div>
    <div class="phone">電　話 : <%= Constants::JAPAN_SIDE_PHONE %></div>
  </div>
  <%= image_tag(::Rails.root.join('public', Constants::JAPAN_SIDE_SIGNATURE)) %>
</div>
