<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" id="logo" href="/">
        飞鹤国际签证网
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-content">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div id="nav-content" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %> 
          <% if is_admin? %>
            <!-- admin menu -->
            <li><%= link_to " 电子签证", projects_path, :class => 'fa fa-users' %></li>
            <li><%= link_to " 旅行社名单", company_codes_path, :class => 'fa fa-book' %></li>
            <li><%= link_to " 注册会员", signup_path, :class => 'fa fa-plus' %></li>
            <li><%= link_to " 会员管理", traders_path, :class => 'fa fa-lock' %></li>
          <% else %>
            <li><%= link_to " 电子签证", projects_path, :class => 'fa fa-users' %></li>
            <!-- trader menu -->
          <% end %>

          <!-- common menu -->
          <li><%= link_to " 退出", logout_path, :method => :delete, :class => 'fa fa-sign-out' %></li>
        <% else %>
          <li><a href="login"><i class="fa fa-sign-in"></i> 登录</a></li>
        <% end %>
      </ul>
    </div>
  </div>

</header>